.healthcare,
.healthcare * {
  box-sizing: border-box;
}
.healthcare {
  background: #0f0f0f;
  height: 5328px;
  position: relative;
  overflow: hidden;
}
.hero-section {
  height: auto;
  position: absolute;
  left: -32px;
  top: 37px;
  overflow: visible;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  row-gap: 112px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 1211px;
  height: 639px;
  position: absolute;
  left: 149px;
  top: 797px;
}
.healthcare-that-works-for-everyone {
  color: #d4af37;
  text-align: left;
  font-family: "RobotoSlab-Regular", sans-serif;
  font-size: 46px;
  font-weight: 400;
  position: relative;
  width: 767px;
  height: 61px;
}
.from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions-discover-how-we-help-businesses-streamline-operations-enhance-customer-relationships-and-drive-growth-from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions-discover-how-we-help-businesses-streamline-operations-enhance-customer-relationships-and-drive-growth {
  color: #ffffff;
  text-align: left;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 20px;
  line-height: 29.2px;
  font-weight: 400;
  position: relative;
  width: 674px;
  height: 400px;
}
.section-3 {
  flex-shrink: 0;
  width: 447.05px;
  height: 410.6px;
  position: relative;
  overflow: visible;
}
.your-all-in-one-ai-powered-crm-automation-platform {
  color: #d4af37;
  text-align: center;
  font-family: "RobotoSlab-Bold", sans-serif;
  font-size: 32px;
  line-height: 29.2px;
  font-weight: 700;
  position: absolute;
  left: 297px;
  top: 1893px;
}
.rectangle-167 {
  background: rgba(212, 175, 55, 0.69);
  border-radius: 7px;
  width: 666px;
  height: 88px;
  position: absolute;
  left: -51px;
  top: 1629px;
}
.frame-4 {
  display: grid;
  gap: 45px;
  row-gap: 44px;
  position: absolute;
  left: 242px;
  top: 2113px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
}
.group-211 {
  width: 317px;
  height: 155.87px;
  position: static;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.smart-contact-lead-management {
  color: #fefffd;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 29px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 317px;
  height: 91px;
}
.group-190 {
  width: 228.86px;
  height: 61.87px;
  position: absolute;
  left: 31.08px;
  top: 94px;
}
.rectangle-21 {
  background: rgba(212, 175, 55, 0.7);
  border-radius: 35px;
  width: 98.88%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 1.12%;
  bottom: 0%;
  top: 0%;
}
.learn-more {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 21px;
  line-height: 34px;
  font-weight: 500;
  position: absolute;
  right: 0.56%;
  left: 0%;
  width: 99.44%;
  bottom: 19.67%;
  top: 22.95%;
  height: 57.38%;
}
.group-209 {
  width: 339.33px;
  height: 155.87px;
  position: static;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.marketing-automation-that-works-24-7 {
  color: #fefffd;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 28px;
  font-weight: 600;
  position: absolute;
  left: 339.67px;
  top: 0px;
  width: 339.33px;
  height: 91px;
}
.group-1902 {
  width: 228.86px;
  height: 61.87px;
  position: absolute;
  left: 372.93px;
  top: 94px;
}
.group-207 {
  height: 158.87px;
  position: static;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.appointment-scheduling-system {
  color: #fefffd;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 29px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 206px;
  width: 294.67px;
  height: 91px;
}
.group-1903 {
  width: 228.86px;
  height: 61.87px;
  position: absolute;
  left: 19.52px;
  top: 303px;
}
.group-205 {
  width: 269px;
  height: 165.16px;
  position: static;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.ai-powered-conversations {
  color: #fefffd;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 29px;
  font-weight: 600;
  position: absolute;
  left: 365.33px;
  top: 206px;
  width: 269px;
  height: 91px;
}
.group-1904 {
  width: 228.86px;
  height: 61.87px;
  position: absolute;
  left: 375.67px;
  top: 309.29px;
}
.group-208 {
  width: 314.67px;
  height: 158.87px;
  position: static;
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}
.reputation-review-management {
  color: #fefffd;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 29px;
  font-weight: 600;
  position: absolute;
  left: 679.33px;
  top: 206px;
  width: 314.67px;
  height: 91px;
}
.group-1905 {
  width: 228.86px;
  height: 61.87px;
  position: absolute;
  left: 699.18px;
  top: 303px;
}
.group-204 {
  height: 152.87px;
  position: static;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.sales-pipeline-deal-tracking {
  color: #fefffd;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 29px;
  font-weight: 600;
  position: absolute;
  left: 679.33px;
  top: 0px;
  width: 294.67px;
  height: 91.29px;
}
.group-1906 {
  width: 228.86px;
  height: 61.87px;
  position: absolute;
  left: 711.61px;
  top: 91px;
}
.group-210 {
  width: 289px;
  height: 160.87px;
  position: static;
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}
.analytics-reporting {
  color: #fefffd;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 29px;
  font-weight: 600;
  position: absolute;
  left: 685px;
  top: 412px;
  width: 289px;
  height: 91px;
}
.group-1907 {
  width: 228.86px;
  height: 61.87px;
  position: absolute;
  left: 709px;
  top: 511px;
}
.group-206 {
  height: 161.16px;
  position: static;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}
.payments-invoicing {
  color: #fefffd;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 29px;
  font-weight: 600;
  position: absolute;
  left: 339.67px;
  top: 412px;
  width: 294.67px;
  height: 91.29px;
}
.group-1908 {
  width: 228.86px;
  height: 61.87px;
  position: absolute;
  left: 362px;
  top: 511.29px;
}
.c {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 625px);
  top: calc(50% - 412px);
}
.group {
  flex-shrink: 0;
  width: 152px;
  height: 373px;
  position: relative;
  overflow: visible;
}
.rectangle-1672 {
  background: #19427d;
  width: 1455px;
  height: 58px;
  position: absolute;
  left: -34px;
  top: 2909px;
}
.spider-plant-2 {
  width: 142px;
  height: 144px;
  position: absolute;
  left: 1190px;
  top: 2765px;
  object-fit: cover;
}
.apply-agentic-process-automation-across-the-spectrum-of-health {
  color: #d4af37;
  text-align: left;
  font-family: "RobotoSlab-Bold", sans-serif;
  font-size: 32px;
  line-height: 29.2px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 4361px;
  width: 1030px;
  height: 52px;
}
.frame-230 {
  width: 1484px;
  height: 335px;
  position: absolute;
  left: -27px;
  top: 5031px;
}
.slice-1 {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 741.5px;
  top: 0px;
}
.frame-232 {
  padding: 0px 150px 0px 156px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1484px;
  height: 167px;
  position: absolute;
  left: 28px;
  top: 41px;
}
.frame-229 {
  flex-shrink: 0;
  width: 1484px;
  height: 167px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-231 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.our-platform-is-built-on-five-core-principles-to-guarantee-your-success {
  color: #ffffff;
  text-align: left;
  font-family: "Gorditas-Regular", sans-serif;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  position: relative;
  width: 523px;
  height: 68px;
}
.image-box {
  flex-shrink: 0;
  width: 236px;
  height: 167px;
  position: relative;
  object-fit: cover;
}
.group-229 {
  flex-shrink: 0;
  width: 343.49px;
  height: 34.07px;
  position: static;
}
.background {
  width: 31.16%;
  height: 20.4%;
  position: absolute;
  right: 0%;
  left: 68.84%;
  bottom: 39.8%;
  top: 39.8%;
  overflow: visible;
}
.frame-2302 {
  background: #ffb600;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 81.09px;
  height: 34px;
  position: absolute;
  left: 1021px;
  top: 66.53px;
}
.sign-up {
  color: #fff6f6;
  text-align: center;
  font-family: "GothicA1-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 29.2px;
  font-weight: 600;
  position: relative;
}
.enter-your-email {
  color: #838282;
  text-align: center;
  font-family: "GothicA1-ExtraLight", sans-serif;
  font-size: 14px;
  line-height: 29.2px;
  font-weight: 200;
  position: absolute;
  left: 759px;
  top: 69.53px;
  width: 146px;
  height: 27px;
}
.frame-224 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 334px;
  position: absolute;
  left: 77px;
  top: 3137px;
}
.card-6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 329.73px;
  position: relative;
}
.shadow {
  opacity: 0.2;
  align-self: stretch;
  flex-shrink: 0;
  height: 337.23px;
  position: relative;
  mix-blend-mode: multiply;
  object-fit: cover;
}
.frame-217 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 7.2px;
  top: 7px;
}
.background2 {
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: visible;
}
.background3 {
  flex-shrink: 0;
  width: 76.56px;
  height: 75.1px;
  position: absolute;
  left: 110.59px;
  top: 20.14px;
  overflow: visible;
}
.noto-hospital {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 148.8px;
  top: 45px;
  overflow: visible;
  aspect-ratio: 1;
}
.hospitals {
  color: #573d82;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 14.46%;
  left: 20.76%;
  width: 194.35px;
  bottom: 54.59%;
  top: 37.68%;
  height: 23.19px;
}
.lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industry-s-standard-dummy-text-ever-since-the-1500-s {
  color: #000000;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 19.34px;
  top: 172px;
}
.card-62 {
  margin: 0 0 0 -24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 329.73px;
  position: relative;
}
.group-218 {
  flex-shrink: 0;
  width: 307.34px;
  height: 310.49px;
  position: absolute;
  left: 7.2px;
  top: 7px;
}
.group-234 {
  position: absolute;
  inset: 0;
}
.background4 {
  width: 97.61%;
  height: 96.62%;
  position: absolute;
  right: 2.28%;
  left: 0.11%;
  bottom: 3.38%;
  top: 0%;
  overflow: visible;
}
.background5 {
  width: 24.91%;
  height: 24.19%;
  position: absolute;
  right: 39.11%;
  left: 35.98%;
  bottom: 69.32%;
  top: 6.49%;
  overflow: visible;
}
.healthicons-bio-pharma {
  width: 24.4%;
  height: 75px;
  position: absolute;
  right: 34.9%;
  left: 40.69%;
  top: 24px;
  overflow: visible;
  aspect-ratio: 1;
}
.clinics {
  color: #573d82;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 2.71%;
  width: 97.29%;
  bottom: 48.47%;
  top: 37.68%;
  height: 13.85%;
}
.lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industry-s-standard-dummy-text-ever-since-the-1500-s2 {
  color: #000000;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 7.48%;
  left: 6.29%;
  width: 86.22%;
  bottom: 13.68%;
  top: 55.4%;
  height: 30.92%;
}
.frame-219 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 11.54px;
  top: 6.62px;
}
.group-232 {
  flex-shrink: 0;
  width: 307px;
  height: 300px;
  position: static;
}
.background6 {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.background7 {
  width: 76.56px;
  height: 75.1px;
  position: absolute;
  left: 110.26px;
  top: 20.14px;
  overflow: visible;
}
.group2 {
  width: 17.91%;
  height: 22%;
  position: absolute;
  right: 36.66%;
  left: 45.43%;
  bottom: 65.33%;
  top: 12.67%;
  overflow: visible;
}
.medical-laboratories {
  color: #573d82;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 2.61%;
  width: 97.39%;
  bottom: 46.67%;
  top: 39%;
  height: 14.33%;
}
.lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industry-s-standard-dummy-text-ever-since-the-1500-s3 {
  color: #000000;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 19px;
  top: 172px;
}
.card-63 {
  margin: 0 0 0 -24px;
  padding: 42px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 329.73px;
  position: relative;
}
.frame-220 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 11.8px;
  top: 27.62px;
}
.group-233 {
  flex-shrink: 0;
  width: 307px;
  height: 300px;
  position: static;
}
.background8 {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.background9 {
  width: 76.56px;
  height: 75.1px;
  position: absolute;
  left: 110.26px;
  top: 20.14px;
  overflow: visible;
}
.healthicons-bio-pharma2 {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 124.45px;
  top: 29px;
  overflow: visible;
  aspect-ratio: 1;
}
.pharmacies-pharma-suppliers {
  color: #573d82;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 2.61%;
  width: 97.39%;
  bottom: 46.67%;
  top: 39%;
  height: 14.33%;
}
.frame-216 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 989.73px;
  position: absolute;
  left: 240px;
  top: 3924px;
}
.section-5 {
  flex-shrink: 0;
  width: 989.73px;
  height: 352.72px;
  position: static;
}
.card-2 {
  width: 33.32%;
  height: 100%;
  position: absolute;
  right: 33.34%;
  left: 33.34%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.card-1 {
  width: 989.73px;
  height: 352.72px;
  position: static;
}
.shadow2 {
  opacity: 0.2;
  width: 33.32%;
  height: 95.61%;
  position: absolute;
  right: 66.68%;
  left: 0%;
  bottom: 4.39%;
  top: 0%;
  mix-blend-mode: multiply;
  object-fit: cover;
}
.shadow3 {
  opacity: 0.1;
  width: 6.73%;
  height: 18.54%;
  position: absolute;
  right: 79.98%;
  left: 13.29%;
  bottom: 0%;
  top: 81.46%;
  mix-blend-mode: multiply;
  object-fit: cover;
}
.vector {
  width: 30.57%;
  height: 0.98%;
  position: absolute;
  right: 68.7%;
  left: 0.73%;
  bottom: 9.99%;
  top: 89.03%;
  overflow: visible;
}
.group-242 {
  width: 316.8px;
  height: 310.58px;
  position: absolute;
  left: 7.2px;
  top: 6.91px;
}
.background10 {
  width: 95.5%;
  height: 100%;
  position: absolute;
  right: 4.5%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.background11 {
  width: 24.17%;
  height: 24.18%;
  position: absolute;
  right: 40.92%;
  left: 34.91%;
  bottom: 69.3%;
  top: 6.51%;
  overflow: visible;
}
.medical-icon-i-care-staff-area {
  width: 15.78%;
  height: 50px;
  position: absolute;
  right: 40.4%;
  left: 43.81%;
  top: 39.09px;
  overflow: visible;
  aspect-ratio: 1;
}
.staff-onboarding-training {
  color: #573d82;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 5.62%;
  width: 94.38%;
  bottom: 48.45%;
  top: 37.7%;
  height: 13.85%;
}
.lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industry-s-standard-dummy-text-ever-since-the-1500-s4 {
  color: #000000;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 8.84%;
  left: 7.51%;
  width: 83.65%;
  bottom: 9.82%;
  top: 59.27%;
  height: 30.91%;
}
.group-244 {
  width: 329.73px;
  height: 352.72px;
  position: absolute;
  left: 660px;
  top: 0px;
}
.shadow4 {
  opacity: 0.2;
  width: 100%;
  height: 95.61%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 4.39%;
  top: 0%;
  mix-blend-mode: multiply;
  object-fit: cover;
}
.background12 {
  width: 91.76%;
  height: 88.05%;
  position: absolute;
  right: 6.06%;
  left: 2.18%;
  bottom: 9.99%;
  top: 1.96%;
  overflow: visible;
}
.background13 {
  width: 23.22%;
  height: 21.29%;
  position: absolute;
  right: 41.06%;
  left: 35.72%;
  bottom: 71.01%;
  top: 7.7%;
  overflow: visible;
}
.mdi-digital-ocean {
  width: 15.16%;
  height: 50px;
  position: absolute;
  right: 39.65%;
  left: 45.19%;
  top: 54px;
  overflow: visible;
  aspect-ratio: 1;
}
.digital-marketing-for-healthcare {
  color: #573d82;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 1.74%;
  left: 7.58%;
  width: 90.68%;
  bottom: 52.65%;
  top: 35.16%;
  height: 12.19%;
}
.lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industry-s-standard-dummy-text-ever-since-the-1500-s5 {
  color: #000000;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 12.05%;
  left: 7.58%;
  width: 80.37%;
  bottom: 19.2%;
  top: 53.58%;
  height: 27.22%;
}
.group-243 {
  width: 316.8px;
  height: 310.58px;
  position: absolute;
  left: 337.2px;
  top: 6.91px;
}
.background14 {
  width: 95.5%;
  height: 100%;
  position: absolute;
  right: 4.5%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.background15 {
  width: 24.17%;
  height: 24.18%;
  position: absolute;
  right: 40.92%;
  left: 34.91%;
  bottom: 69.3%;
  top: 6.51%;
  overflow: visible;
}
.medical-records-maintenance {
  color: #573d82;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 5.62%;
  width: 94.38%;
  bottom: 47.81%;
  top: 38.35%;
  height: 13.85%;
}
.lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industry-s-standard-dummy-text-ever-since-the-1500-s6 {
  color: #000000;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 8.84%;
  left: 7.51%;
  width: 83.65%;
  bottom: 10.46%;
  top: 58.63%;
  height: 30.91%;
}
.vaadin-records {
  width: 15.78%;
  height: 50px;
  position: absolute;
  right: 37.25%;
  left: 46.97%;
  top: 41.09px;
  overflow: visible;
  aspect-ratio: 1;
}
.frame-226 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 73px;
  top: 3528px;
}
.card-4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 329.73px;
  position: relative;
}
.shadow5 {
  opacity: 0.1;
  flex-shrink: 0;
  width: 66.65px;
  height: 65.38px;
  position: relative;
  mix-blend-mode: multiply;
  object-fit: cover;
}
.vector2 {
  flex-shrink: 0;
  width: 302.54px;
  height: 3.46px;
  position: absolute;
  left: 7.2px;
  top: 314.03px;
  overflow: visible;
}
.group-223 {
  flex-shrink: 0;
  width: 302.54px;
  height: 310.58px;
  position: absolute;
  left: 7.2px;
  top: 6.91px;
}
.group-235 {
  position: absolute;
  inset: 0;
}
.background16 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.background17 {
  width: 25.3%;
  height: 24.18%;
  position: absolute;
  right: 38.14%;
  left: 36.55%;
  bottom: 69.3%;
  top: 6.51%;
  overflow: visible;
}
.group3 {
  width: 15.02%;
  height: 15.13%;
  position: absolute;
  right: 35.8%;
  left: 49.18%;
  bottom: 70.99%;
  top: 13.87%;
  overflow: visible;
}
.medical-equipment-suppliers {
  color: #573d82;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 16.62%;
  left: 20.25%;
  width: 63.13%;
  bottom: 46.84%;
  top: 37.06%;
  height: 16.1%;
}
.lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industry-s-standard-dummy-text-ever-since-the-1500-s7 {
  color: #000000;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 4.72%;
  left: 7.69%;
  width: 87.59%;
  bottom: 15.93%;
  top: 53.16%;
  height: 30.91%;
}
.card-42 {
  margin: 0 0 0 -20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 329.73px;
  position: relative;
}
.vector3 {
  flex-shrink: 0;
  width: 302.54px;
  height: 3.46px;
  position: absolute;
  left: 7.2px;
  top: 314.03px;
  overflow: visible;
}
.background18 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.background19 {
  width: 25.3%;
  height: 24.18%;
  position: absolute;
  right: 38.14%;
  left: 36.55%;
  bottom: 69.3%;
  top: 6.51%;
  overflow: visible;
}
.hugeicons-wellness {
  width: 22.15%;
  height: 67px;
  position: absolute;
  right: 32.16%;
  left: 45.7%;
  top: 38.09px;
  overflow: hidden;
  aspect-ratio: 1;
}
.group4 {
  width: 66.67%;
  height: 83.33%;
  position: absolute;
  right: 16.67%;
  left: 16.67%;
  bottom: 8.33%;
  top: 8.33%;
  overflow: visible;
}
.wellness-centers-therapy-clinics {
  color: #573d82;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 16.29%;
  left: 19.59%;
  width: 64.12%;
  bottom: 46.84%;
  top: 37.06%;
  height: 16.1%;
}
.group-225 {
  margin: 0 0 0 -20px;
  flex-shrink: 0;
  width: 639.27px;
  height: 402.62px;
  position: static;
}
.card-43 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 329.73px;
  position: absolute;
  left: 619.46px;
  top: 0px;
}
.vector4 {
  flex-shrink: 0;
  width: 302.54px;
  height: 3.46px;
  position: absolute;
  left: 7.2px;
  top: 314.03px;
  overflow: visible;
}
.group-224 {
  flex-shrink: 0;
  width: 302.54px;
  height: 310.58px;
  position: absolute;
  left: 7.2px;
  top: 6.91px;
}
.background20 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.background21 {
  width: 25.3%;
  height: 24.18%;
  position: absolute;
  right: 38.14%;
  left: 36.55%;
  bottom: 69.3%;
  top: 6.51%;
  overflow: visible;
}
.mdi-ambulance {
  width: 22.48%;
  height: 68px;
  position: absolute;
  right: 31.82%;
  left: 45.7%;
  top: 38.09px;
  overflow: visible;
  aspect-ratio: 1;
}
.ambulance-services {
  color: #573d82;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 15.3%;
  left: 18.6%;
  width: 66.11%;
  bottom: 54.89%;
  top: 37.06%;
  height: 8.05%;
}
.card-5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 329.73px;
  position: absolute;
  left: 929px;
  top: 0px;
}
.vector5 {
  flex-shrink: 0;
  width: 302.54px;
  height: 3.46px;
  position: absolute;
  left: 7.2px;
  top: 314.03px;
  overflow: visible;
}
.group-2252 {
  flex-shrink: 0;
  width: 302.54px;
  height: 310.58px;
  position: absolute;
  left: 7.2px;
  top: 6.91px;
}
.background22 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.background23 {
  width: 25.3%;
  height: 24.18%;
  position: absolute;
  right: 38.14%;
  left: 36.55%;
  bottom: 69.3%;
  top: 6.51%;
  overflow: visible;
}
.hugeicons-waste-restore {
  width: 18.18%;
  height: 52px;
  position: absolute;
  right: 36.78%;
  left: 45.04%;
  top: 48.09px;
  overflow: hidden;
  aspect-ratio: 55/52;
}
.group5 {
  width: 72%;
  height: 83.33%;
  position: absolute;
  right: 15%;
  left: 13%;
  bottom: 8.33%;
  top: 8.33%;
  overflow: visible;
}
.waste-management-in-healthcare {
  color: #573d82;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 0.09%;
  left: 1.08%;
  width: 98.83%;
  bottom: 47.81%;
  top: 38.34%;
  height: 13.84%;
}
.lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industry-s-standard-dummy-text-ever-since-the-1500-s8 {
  color: #000000;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 6.37%;
  left: 6.04%;
  width: 87.59%;
  bottom: 13.36%;
  top: 55.73%;
  height: 30.91%;
}
.your-all-in-one-ai-powered-crm-automation {
  color: #d4af37;
  text-align: center;
  font-family: "RobotoSlab-Bold", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 435px);
  top: 3037px;
  width: 852px;
}
.rectangle-349 {
  background: rgba(15, 14, 14, 0.6);
  width: 1472px;
  height: 650px;
  position: absolute;
  left: -32px;
  top: 20px;
}
.frame-238 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: flex-start;
  width: 716px;
  position: absolute;
  left: 381px;
  top: 143px;
}
.heading {
  color: #ffffff;
  text-align: center;
  font-family: "Outfit-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.heading2 {
  color: #fdfdff;
  text-align: center;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 48px;
}
.classic-button {
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.hover-false {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button {
  background: #d4af37;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 5px 15px 0px rgba(37, 44, 97, 0.15),
    0px 2px 4px 0px rgba(136, 144, 194, 0.2);
  overflow: hidden;
}
.get-started {
  color: #ffffff;
  text-align: left;
  font-family: "RobotoSlab-Bold", sans-serif;
  font-size: 21.030000686645508px;
  font-weight: 700;
  position: relative;
}
.hover-true {
  padding: 0px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button2 {
  background: #d4af37;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 7px 21px 0px rgba(37, 44, 97, 0.2),
    0px 3px 8px 0px rgba(136, 144, 194, 0.25);
  overflow: hidden;
}
.your-all-in-one-ai-powered {
  color: #fffffe;
  text-align: left;
  font-family: "Glegoo-Bold", sans-serif;
  font-size: 32px;
  line-height: 29.2px;
  font-weight: 700;
  position: absolute;
  left: 497px;
  top: 1975px;
  width: 475px;
}
.frame-245 {
  display: flex;
  flex-direction: row;
  gap: 127px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 141px;
  top: 4516px;
}
.group-226 {
  flex-shrink: 0;
  width: 475px;
  height: 457px;
  position: static;
}
.frame-227 {
  display: flex;
  flex-direction: column;
  gap: 47px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 475px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.your-all-in-one-ai-powered2 {
  color: #fffffe;
  text-align: left;
  font-family: "Glegoo-Bold", sans-serif;
  font-size: 32px;
  line-height: 29.2px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions-discover-how-we-help-businesses-streamline-operations-enhance-customer-relationships-and-drive-growth-from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions-discover-how-we-help-businesses-streamline-operations-enhance-customer-relationships-and-drive-growth2 {
  color: #ffffff;
  text-align: left;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 18px;
  line-height: 29.2px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.rectangle-350 {
  flex-shrink: 0;
  width: 485px;
  height: 424px;
  position: relative;
  object-fit: cover;
}
.group-238 {
  position: absolute;
  inset: 0;
}
.solution {
  width: 110px;
  height: 38px;
  position: absolute;
  left: 930px;
  top: 725px;
}
.solution2 {
  color: #fffefd;
  text-align: center;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: -9.09%;
  left: -9.09%;
  width: 118.18%;
  bottom: -10.53%;
  top: 0%;
  height: 110.53%;
}
.video {
  width: 77px;
  height: 38px;
  position: absolute;
  left: 415px;
  top: 723px;
}
.video2 {
  color: #fffefd;
  text-align: center;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: -6.49%;
  left: -6.49%;
  width: 112.99%;
  bottom: -10.53%;
  top: 0%;
  height: 110.53%;
}
.use-cases {
  width: 130px;
  height: 38px;
  position: absolute;
  left: 558px;
  top: 723px;
}
.use-cases2 {
  color: #fffefd;
  text-align: center;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: -3.85%;
  left: -3.08%;
  width: 106.92%;
  bottom: -10.53%;
  top: 0%;
  height: 110.53%;
}
.benefits {
  width: 110px;
  height: 38px;
  position: absolute;
  left: 754px;
  top: 723px;
}
.benefits2 {
  color: #fffefd;
  text-align: center;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: -6.36%;
  left: -6.36%;
  width: 112.73%;
  bottom: -10.53%;
  top: 0%;
  height: 110.53%;
}
