.real-estate,
.real-estate * {
  box-sizing: border-box;
}
.real-estate {
  background: #000000;
  height: 4971px;
  position: relative;
  overflow: hidden;
}
.rectangle-207 {
  width: 556px;
  height: 354px;
  position: absolute;
  left: 730px;
  top: 3543px;
  filter: blur(25px);
  object-fit: cover;
}
.rectangle-2 {
  width: 1472px;
  height: 620px;
  position: absolute;
  left: 1461px;
  top: 56px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.frame-246 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 684px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 802px;
}
.group-247 {
  flex-shrink: 0;
  width: 691px;
  height: 40px;
  position: static;
}
.video {
  width: 145px;
  height: 38px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.video2 {
  color: #fffefd;
  text-align: center;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: 20%;
  left: 20%;
  width: 60%;
  bottom: -10.53%;
  top: 0%;
  height: 110.53%;
}
.use-cases {
  width: 214px;
  height: 40px;
  position: absolute;
  left: 231px;
  top: 0px;
}
.use-cases2 {
  color: #fffefd;
  text-align: center;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: 17.29%;
  left: 17.76%;
  width: 64.95%;
  bottom: -5%;
  top: 0%;
  height: 105%;
}
.benefits {
  width: 160px;
  height: 38px;
  position: absolute;
  left: 531px;
  top: 0px;
}
.benefits2 {
  color: #fffefd;
  text-align: center;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: 11.25%;
  left: 11.25%;
  width: 77.5%;
  bottom: -10.53%;
  top: 0%;
  height: 110.53%;
}
.group-251 {
  position: absolute;
  inset: 0;
}
.frame-636 {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1072.03px;
  position: absolute;
  left: 192px;
  top: 998px;
}
.frame-632 {
  flex-shrink: 0;
  width: 609px;
  height: 108px;
  position: relative;
}
.healthcare-that-works-for-everyone {
  color: #d4af37;
  text-align: left;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 46px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 609px;
}
.frame-635 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions-discover-how-we-help-businesses-streamline-operations-enhance-customer-relationships-and-drive-growth-from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions-discover-how-we-help-businesses-streamline-operations-enhance-customer-relationships-and-drive-growth {
  color: #ffffff;
  text-align: left;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 20px;
  line-height: 29.2px;
  font-weight: 400;
  position: relative;
  width: 575px;
}
.section-3 {
  flex-shrink: 0;
  width: 467.03px;
  height: 429px;
  position: relative;
  overflow: visible;
}
.your-all-in-one-ai-powered-crm-automation-platform {
  color: #d4af37;
  text-align: center;
  font-family: "RobotoSlab-Bold", sans-serif;
  font-size: 32px;
  line-height: 29.2px;
  font-weight: 700;
  position: absolute;
  left: 285px;
  top: 1754px;
}
.your-all-in-one-ai-powered-crm-automation-platform2 {
  color: #d4af37;
  text-align: center;
  font-family: "RobotoSlab-Bold", sans-serif;
  font-size: 32px;
  line-height: 29.2px;
  font-weight: 700;
  position: absolute;
  left: 266px;
  top: 2788px;
  width: 916px;
  height: 57px;
}
.your-all-in-one-ai-powered-crm-automation-platform3 {
  color: #d4af37;
  text-align: center;
  font-family: "RobotoSlab-Bold", sans-serif;
  font-size: 32px;
  line-height: 29.2px;
  font-weight: 700;
  position: absolute;
  left: 245px;
  top: 4098px;
  width: 916px;
  height: 57px;
}
.your-all-in-one-ai-powered {
  color: #d4af37;
  text-align: center;
  font-family: "RobotoSlab-Bold", sans-serif;
  font-size: 32px;
  line-height: 29.2px;
  font-weight: 700;
  position: absolute;
  left: 757px;
  top: 2971px;
  width: 511px;
  height: 57px;
}
.your-all-in-one-ai-powered2 {
  color: #d4af37;
  text-align: center;
  font-family: "RobotoSlab-Bold", sans-serif;
  font-size: 32px;
  line-height: 29.2px;
  font-weight: 700;
  position: absolute;
  left: 150px;
  top: 3512px;
  width: 511px;
  height: 57px;
}
.group-244 {
  position: absolute;
  inset: 0;
}
.rectangle-34 {
  width: 519px;
  height: 432px;
  position: absolute;
  left: 143px;
  top: 2927px;
  object-fit: cover;
}
.group-254 {
  width: 268px;
  height: 85.37px;
  position: absolute;
  left: 512px;
  top: 2992.63px;
}
.rectangle-35 {
  background: #ffffff;
  border-radius: 15px 15px 15px 0px;
  border-style: solid;
  border-color: #181818;
  border-width: 1px;
  width: 99.25%;
  height: 100%;
  position: absolute;
  right: 0.75%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.rectangle-101 {
  border-radius: 15px;
  width: 29.48%;
  height: 73.2%;
  position: absolute;
  right: 64.55%;
  left: 5.97%;
  bottom: 14.43%;
  top: 12.37%;
  object-fit: cover;
}
.customer-transparency {
  color: #fc7c05;
  text-align: center;
  font-family: "Sora-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 27.24%;
  width: 72.76%;
  bottom: 42.07%;
  top: 15.66%;
  height: 42.27%;
}
.group-255 {
  width: 263px;
  height: 86px;
  position: absolute;
  left: 514px;
  top: 3114px;
}
.rectangle-37 {
  background: #ffffff;
  border-radius: 15px 15px 0px 15px;
  border-style: solid;
  border-color: #181818;
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.automated-reminders {
  color: #fc7c05;
  text-align: center;
  font-family: "Sora-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 10.27%;
  left: 16.73%;
  width: 73%;
  bottom: 26.74%;
  top: 15.12%;
  height: 58.14%;
}
.uil-comment-alt-verify {
  border-radius: 12px;
  width: 15.59%;
  height: 48.84%;
  position: absolute;
  right: 75.29%;
  left: 9.13%;
  bottom: 26.74%;
  top: 24.42%;
  overflow: visible;
}
.group-256 {
  width: 266px;
  height: 78.52px;
  position: absolute;
  left: 512px;
  top: 3235px;
}
.rectangle-36 {
  background: #ffffff;
  border-radius: 0px 15px 15px 15px;
  border-style: solid;
  border-color: #181818;
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-38 {
  position: absolute;
  inset: 0;
}
.vector {
  width: 19.64%;
  height: 61.25%;
  position: absolute;
  right: 75.02%;
  left: 5.33%;
  bottom: 23.58%;
  top: 15.16%;
  overflow: visible;
}
._80 {
  color: #5e549b;
  text-align: center;
  font-family: "Sora-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  right: 74.44%;
  left: 7.14%;
  width: 18.42%;
  bottom: 44.24%;
  top: 35.51%;
  height: 20.24%;
}
.smart-project-tracking {
  color: #fc7c05;
  text-align: center;
  font-family: "Sora-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 9.93%;
  left: 23.97%;
  width: 66.1%;
  bottom: 56.98%;
  top: 19.77%;
  height: 23.26%;
}
.pepicons-pop-line-y {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 625px;
  top: 3199px;
  overflow: visible;
  aspect-ratio: 1;
}
.faster-sales-cycles-capture-leads-instantly-from-websites-ads-and-whats-app-smart-project-tracking-track-every-unit-inquiry-and-deal-in-one-place-customer-transparency {
  color: #fffdfd;
  text-align: center;
  font-family: "RobotoSlab-Regular", sans-serif;
  font-size: 24px;
  line-height: 150.4%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 797px;
  top: 3042px;
  width: 521px;
  height: 193px;
}
.lead-capture-from-everywhere-social-media-calls-emails-and-property-portals-feed-directly-into-crm-property-matching-ai-match-client-requirements-with-available-listings-instantly {
  color: #fffdfd;
  text-align: center;
  font-family: "RobotoSlab-Regular", sans-serif;
  font-size: 24px;
  line-height: 150.4%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 170px;
  top: 3614px;
  width: 485px;
}
.frame-631 {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1099px;
  position: absolute;
  left: 174px;
  top: 1911px;
}
.group-241 {
  flex-shrink: 0;
  width: 1082.47px;
  height: 200px;
  position: static;
}
.builders-developers {
  color: #ffb600;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 26px;
  line-height: 133.4%;
  letter-spacing: 0.005em;
  font-weight: 700;
  position: absolute;
  right: 1.5%;
  left: 16.2%;
  width: 82.3%;
  bottom: 94.45%;
  top: 0%;
  height: 5.55%;
}
.introducing-to-you-a-ui-ux-focused-website-with-a-cutting-edge-technology-as-a-platform-for-digital-marketing-and-lead-generation {
  color: #fffdfd;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 150.4%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 186px;
  top: 57px;
  width: 754px;
  height: 143px;
}
.group-239 {
  width: 125px;
  height: 131px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-200 {
  background: #ededed;
  border-radius: 166px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: inset 20px 20px 50px 0px rgba(205, 205, 205, 1),
    inset -20px -20px 50px 0px rgba(255, 255, 255, 1);
}
.manager {
  width: 61.6%;
  height: 54.2%;
  position: absolute;
  right: 19.2%;
  left: 19.2%;
  bottom: 22.9%;
  top: 22.9%;
  overflow: visible;
}
.group-242 {
  flex-shrink: 0;
  width: 1099px;
  height: 200px;
  position: static;
}
.property-managers {
  color: #ffb600;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 26px;
  line-height: 133.4%;
  letter-spacing: 0.005em;
  font-weight: 700;
  position: absolute;
  right: 7.68%;
  left: 16.2%;
  width: 76.12%;
  bottom: 55.85%;
  top: 37.71%;
  height: 6.43%;
}
.establishing-the-first-stepping-stone-in-the-micro-markets-of-navi-mumbai-and-later-leaving-footprints-as-a-standard-bearer-in-the-micro-markets-of-mumbai {
  color: #fffdfd;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 150.4%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 179px;
  top: 312px;
  width: 920px;
  height: 143px;
}
.group-2412 {
  width: 125px;
  height: 131px;
  position: absolute;
  left: 0px;
  top: 255px;
}
.rectangle-201 {
  background: #ededed;
  border-radius: 166px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: inset 20px 20px 50px 0px rgba(205, 205, 205, 1),
    inset -20px -20px 50px 0px rgba(255, 255, 255, 1);
}
.flat-color-icons-manager {
  width: 75.2%;
  height: 94px;
  position: absolute;
  right: 12.8%;
  left: 12%;
  top: 15px;
  overflow: hidden;
  aspect-ratio: 1;
}
.vector2 {
  width: 20.83%;
  height: 25%;
  position: absolute;
  right: 39.58%;
  left: 39.58%;
  bottom: 22.92%;
  top: 52.08%;
  overflow: visible;
}
.group {
  width: 45.83%;
  height: 8.33%;
  position: absolute;
  right: 27.08%;
  left: 27.08%;
  bottom: 56.25%;
  top: 35.42%;
  overflow: visible;
}
.vector3 {
  width: 37.5%;
  height: 43.28%;
  position: absolute;
  right: 31.25%;
  left: 31.25%;
  bottom: 39.58%;
  top: 17.14%;
  overflow: visible;
}
.vector4 {
  width: 41.67%;
  height: 31.25%;
  position: absolute;
  right: 29.17%;
  left: 29.17%;
  bottom: 60.42%;
  top: 8.33%;
  overflow: visible;
}
.group2 {
  width: 20.83%;
  height: 4.17%;
  position: absolute;
  right: 39.58%;
  left: 39.58%;
  bottom: 58.33%;
  top: 37.5%;
  overflow: visible;
}
.vector5 {
  width: 66.67%;
  height: 27.08%;
  position: absolute;
  right: 16.67%;
  left: 16.67%;
  bottom: 8.33%;
  top: 64.58%;
  overflow: visible;
}
.vector6 {
  width: 8.33%;
  height: 25%;
  position: absolute;
  right: 45.83%;
  left: 45.83%;
  bottom: 8.33%;
  top: 66.67%;
  overflow: visible;
}
.group-243 {
  flex-shrink: 0;
  width: 1033.21px;
  height: 175px;
  position: static;
}
.group-213 {
  width: 859.21px;
  height: 57.03px;
  position: static;
}
.brokers-agencies {
  color: #ffb600;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 26px;
  line-height: 133.4%;
  letter-spacing: 0.005em;
  font-weight: 700;
  position: absolute;
  right: 5.99%;
  left: 15.83%;
  width: 78.18%;
  bottom: 15.91%;
  top: 75.77%;
  height: 8.33%;
}
.we-believe-in-long-term-orientation-with-our-diversified-business-model-thus-making-us-stand-out-in-the-industry {
  color: #fffdfd;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 150.4%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 178px;
  top: 567px;
  width: 827px;
  height: 118px;
}
.group-2432 {
  width: 125px;
  height: 132px;
  position: absolute;
  left: 0px;
  top: 510px;
}
.rectangle-202 {
  background: #ededed;
  border-radius: 166px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: inset 20px 20px 50px 0px rgba(205, 205, 205, 1),
    inset -20px -20px 50px 0px rgba(255, 255, 255, 1);
}
.map-travel-agency {
  width: 60%;
  height: 75px;
  position: absolute;
  right: 20%;
  left: 20%;
  top: 28px;
  overflow: visible;
  aspect-ratio: 1;
}
.rectangle-205 {
  background: rgba(0, 0, 0, 0.44);
  width: 1472px;
  height: 699px;
  position: absolute;
  left: -32px;
  top: -23px;
  box-shadow: 0px 15px 11px 0px rgba(199, 47, 47, 0.28);
}
.frame-238 {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  width: 716px;
  position: absolute;
  left: calc(50% - 345px);
  top: 245px;
}
.heading {
  color: #fdfdff;
  text-align: center;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 48px;
  line-height: 120%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.heading2 {
  color: #fdfdff;
  text-align: center;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 66px;
}
.classic-button {
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.hover-false {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button {
  background: #d4af37;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 5px 15px 0px rgba(37, 44, 97, 0.15),
    0px 2px 4px 0px rgba(136, 144, 194, 0.2);
  overflow: hidden;
}
.get-started {
  color: #ffffff;
  text-align: left;
  font-family: "RobotoSlab-Bold", sans-serif;
  font-size: 21.030000686645508px;
  font-weight: 700;
  position: relative;
}
.hover-true {
  padding: 0px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button2 {
  background: #d4af37;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 7px 21px 0px rgba(37, 44, 97, 0.2),
    0px 3px 8px 0px rgba(136, 144, 194, 0.25);
  overflow: hidden;
}
.frame-232 {
  padding: 0px 150px 0px 156px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1484px;
  height: 167px;
  position: absolute;
  left: -12px;
  top: 4685px;
}
.frame-229 {
  flex-shrink: 0;
  width: 1484px;
  height: 167px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-231 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.our-platform-is-built-on-five-core-principles-to-guarantee-your-success {
  color: #ffffff;
  text-align: left;
  font-family: "Gorditas-Regular", sans-serif;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  position: relative;
  width: 523px;
  height: 68px;
}
.image-box {
  flex-shrink: 0;
  width: 236px;
  height: 167px;
  position: relative;
  object-fit: cover;
}
.group-229 {
  flex-shrink: 0;
  width: 343.49px;
  height: 34.07px;
  position: static;
}
.background {
  width: 31.16%;
  height: 20.4%;
  position: absolute;
  right: 0%;
  left: 68.84%;
  bottom: 39.8%;
  top: 39.8%;
  overflow: visible;
}
.frame-230 {
  background: #ffb600;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 81.09px;
  height: 34px;
  position: absolute;
  left: 1021px;
  top: 66.53px;
}
.sign-up {
  color: #fff6f6;
  text-align: center;
  font-family: "GothicA1-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 29.2px;
  font-weight: 600;
  position: relative;
}
.enter-your-email {
  color: #838282;
  text-align: center;
  font-family: "GothicA1-ExtraLight", sans-serif;
  font-size: 14px;
  line-height: 29.2px;
  font-weight: 200;
  position: absolute;
  left: 759px;
  top: 69.53px;
  width: 146px;
  height: 27px;
}
.rectangle-206 {
  width: 556px;
  height: 354px;
  position: absolute;
  left: 720px;
  top: 3522px;
  object-fit: cover;
}
.fa-6-solid-arrow-up {
  width: 31px;
  height: 41px;
  position: absolute;
  left: 633px;
  top: 3117px;
  transform: translate(0px, -41px);
  overflow: visible;
  aspect-ratio: 31/41;
}
.fa-6-solid-arrow-up2 {
  width: 31px;
  height: 41px;
  position: absolute;
  left: 630px;
  top: 3237px;
  transform: translate(0px, -41px);
  overflow: visible;
  aspect-ratio: 31/41;
}
.faster-sales-cycles-capture-leads-instantly-from-websites-ads-and-whats-app-smart-project-tracking-track-every-unit-inquiry-and-deal-in-one-place-customer-transparency2 {
  color: #fffdfd;
  text-align: center;
  font-family: "RobotoSlab-Regular", sans-serif;
  font-size: 24px;
  line-height: 150.4%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 302px;
  top: 4196px;
  width: 801px;
  height: 193px;
}
.classic-button2 {
  padding: 0px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 604px;
  top: 4356px;
}
