.education,
.education * {
  box-sizing: border-box;
}
.education {
  background: #101010;
  height: 4307px;
  position: relative;
  overflow: hidden;
}
.rectangle-16 {
  background: rgba(4, 4, 4, 0.05);
  width: 1450px;
  height: 502px;
  position: absolute;
  left: 26px;
  top: 83px;
  backdrop-filter: blur(2px);
}
.frame-5 {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: center;
  justify-content: flex-start;
  width: 1280px;
  position: absolute;
  left: 74px;
  top: 774px;
}
.heading-2 {
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 49px;
  position: relative;
}
.what-is-an-admission-management-software-why-do-you-need-it {
  color: #ffcd29;
  text-align: center;
  font-family: var(
    --wwwmerittocom-semantic-heading-2-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--wwwmerittocom-semantic-heading-2-font-size, 26px);
  line-height: var(--wwwmerittocom-semantic-heading-2-line-height, 32.5px);
  font-weight: var(--wwwmerittocom-semantic-heading-2-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container2 {
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  gap: var(--font-size-16, 16px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  max-width: var(--width-106667, 1066.67px);
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.the-admissions-landscape-is-ever-evolving-from-how-students-connect-with-organizations-to-how-these-organizations-manage-the-entire-admissions-process-change-is-the-only-constant-it-often-feels-like-a-jigsaw-puzzle-with-many-organizations-using-independent-and-siloed-solutions-making-it-frustrating-and-inefficient-this-fragmented-approach-isn-t-ideal-for-you-or-your-prospective-students-the-admissions-landscape-is-ever-evolving-from-how-students-connect-with-organizations-to-how-these-organizations-manage-the-entire {
  color: #fdfdff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: var(--line-height-24, 24px);
  font-weight: var(--font-weight-400, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg {
  background: rgba(255, 182, 0, 0.48);
  width: 1440px;
  height: 83px;
  position: absolute;
  left: 0px;
  bottom: 3119px;
}
.frame-238 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  row-gap: 71px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 1072px;
  position: absolute;
  left: 191px;
  top: 3255px;
}
.heading-3 {
  padding: 0px 48px 8.55px 48px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1072px;
  position: relative;
}
.a-purpose-built-admission-management-software-for-your-entire-admissions-journey {
  color: #d4af37;
  text-align: center;
  font-family: var(
    --wwwmerittocom-semantic-heading-2-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--wwwmerittocom-semantic-heading-2-font-size, 26px);
  line-height: var(--wwwmerittocom-semantic-heading-2-line-height, 32.5px);
  font-weight: var(--wwwmerittocom-semantic-heading-2-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-3 {
  flex-shrink: 0;
  width: 524px;
  height: 437.95px;
  position: relative;
  overflow: visible;
}
.section {
  padding: 49.01px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: var(--item-spacing-001, 0.01px);
  row-gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  flex-shrink: 0;
  width: 500px;
  height: 365px;
  position: relative;
}
.container4 {
  padding: 0px 15px 1px 15px;
  display: flex;
  flex-direction: column;
  gap: var(--item-spacing-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: var(--width-53333, 533.33px);
  position: relative;
}
.heading-22 {
  padding: 0px 0px 8.55px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.centralize-engage-and-convert-students-with-our-end-to-end-education-crm {
  color: #fbfcff;
  text-align: left;
  font-family: var(
    --wwwmerittocom-semantic-heading-2-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--wwwmerittocom-semantic-heading-2-font-size, 26px);
  line-height: var(--wwwmerittocom-semantic-heading-2-line-height, 32.5px);
  font-weight: var(--wwwmerittocom-semantic-heading-2-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drive-your-conversions-with-the-most-advanced-crm-built-specifically-for-the-education-industry-personalize-and-nurture-more-efficiently-than-ever {
  color: #fbfcff;
  text-align: left;
  font-family: var(
    --wwwmerittocom-inter-regular-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--wwwmerittocom-inter-regular-font-size, 16px);
  line-height: var(--wwwmerittocom-inter-regular-line-height, 24px);
  font-weight: var(--wwwmerittocom-inter-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link {
  padding: 7.71px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.know-more {
  color: var(--color-azure-61, #4285f4);
  text-align: left;
  font-family: var(
    --wwwmerittocom-semantic-link-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--wwwmerittocom-semantic-link-font-size, 14px);
  line-height: var(--wwwmerittocom-semantic-link-line-height, 21px);
  font-weight: var(--wwwmerittocom-semantic-link-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container6 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.frame-243 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: flex-start;
  width: 750px;
  position: absolute;
  left: 339px;
  top: 1268px;
}
.section2 {
  padding: 0px 3px 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  height: 74px;
  max-width: var(--width-1280, 1280px);
  position: relative;
}
.heading-32 {
  padding: 0px 48px 8.55px 48px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.a-purpose-built-admission-management-software-for-your-entire-admissions-journey2 {
  color: #f6f9ff;
  text-align: center;
  font-family: var(
    --wwwmerittocom-semantic-heading-2-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--wwwmerittocom-semantic-heading-2-font-size, 26px);
  line-height: var(--wwwmerittocom-semantic-heading-2-line-height, 32.5px);
  font-weight: var(--wwwmerittocom-semantic-heading-2-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-4 {
  padding: 0px 48px 8.55px 48px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1024px;
  position: absolute;
  left: 157px;
  top: 1657px;
}
.frame-245 {
  padding: 0px 115px 0px 115px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 794px;
  position: absolute;
  left: 157px;
  top: 2306px;
}
.frame-55834 {
  display: flex;
  flex-direction: row;
  gap: 119px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-55830 {
  display: flex;
  flex-direction: row;
  gap: 21px;
  row-gap: 26px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 389.08px;
  position: relative;
}
.component-8 {
  flex-shrink: 0;
  width: 184.04px;
  height: 149.03px;
  position: relative;
}
.rectangle-305 {
  background: rgba(212, 175, 55, 0.85);
  border-radius: 8px;
  border-style: solid;
  border-color: transparent;
  border-width: 0.46px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0.46px 2.29px 22.86px 0px rgba(84, 99, 122, 0.1);
}
.frame-55829 {
  width: 154.03px;
  height: 40.01px;
  position: absolute;
  left: 20px;
  top: 19px;
}
.inbox-schedule-streamline-plump-remix {
  position: absolute;
  inset: 0;
}
.inbox-schedule-streamline-plump-remix2 {
  width: 42.98px;
  height: 40px;
  position: absolute;
  left: 53.02px;
  top: 0px;
  object-fit: cover;
}
.work-with-companies-directly-on-software-development-projects-to-master-your-skills-and-build-a-strong {
  color: #fbfaff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 11px;
  line-height: 11.88px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 87px;
  width: 154.03px;
  height: 40.01px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.real-work-experience {
  color: #000000;
  text-align: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 10.502288818359375px;
  font-weight: 600;
  position: absolute;
  left: 39px;
  top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-9 {
  flex-shrink: 0;
  width: 184.04px;
  height: 149.03px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.time-schedule-set-streamline-core-solid {
  width: 43px;
  height: 43px;
  position: absolute;
  left: 70.96px;
  top: 16px;
  object-fit: cover;
}
.real-work-experience2 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 10.502288818359375px;
  font-weight: 600;
  position: absolute;
  left: 36px;
  top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-with-companies-directly-on-software-development-projects-to-master-your-skills-and-build-a-strong2 {
  color: #fbfaff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 11px;
  line-height: 11.88px;
  font-weight: 400;
  position: absolute;
  left: 18px;
  top: 89px;
  width: 154.03px;
  height: 40.01px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-10 {
  flex-shrink: 0;
  width: 184.04px;
  height: 149.03px;
  position: relative;
}
.real-work-experience3 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 10.502288818359375px;
  font-weight: 600;
  position: absolute;
  left: 41px;
  top: 62.97px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-with-companies-directly-on-software-development-projects-to-master-your-skills-and-build-a-strong3 {
  color: #fbfaff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 11px;
  line-height: 11.88px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 85.97px;
  width: 154.03px;
  height: 40.01px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabler-file-report {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 71px;
  top: 20.97px;
  overflow: hidden;
  aspect-ratio: 1;
}
.online-learning-certificate-2-streamline-ultimate-bold {
  position: absolute;
  inset: 0;
}
.online-learning-certificate-2-streamline-ultimate-bold2 {
  width: 107.14%;
  height: 80.95%;
  position: absolute;
  right: 0%;
  left: -7.14%;
  bottom: 26.19%;
  top: -7.14%;
  object-fit: cover;
}
.section3 {
  display: flex;
  flex-direction: row;
  gap: var(--item-spacing-001, 0.01px);
  row-gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  flex-shrink: 0;
  width: 564px;
  position: relative;
}
.centralize-engage-and-convert-students-with-our-end-to-end-education-crm2 {
  color: rgba(255, 182, 0, 0.7);
  text-align: left;
  font-family: var(
    --wwwmerittocom-semantic-heading-2-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--wwwmerittocom-semantic-heading-2-font-size, 26px);
  line-height: var(--wwwmerittocom-semantic-heading-2-line-height, 32.5px);
  font-weight: var(--wwwmerittocom-semantic-heading-2-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.drive-your-conversions-with-the-most-advanced-crm-built-specifically-for-the-education-industry-personalize-and-nurture-more-efficiently-than-ever2 {
  color: #fbfcff;
  text-align: left;
  font-family: var(--font-family-font-1, "Inter-Regular", sans-serif);
  font-size: 18px;
  line-height: var(--line-height-24, 24px);
  font-weight: var(--font-weight-400, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.know-more2 {
  color: var(--color-azure-61, #4285f4);
  text-align: left;
  font-family: var(--font-family-font-1, "Inter-Regular", sans-serif);
  font-size: 16px;
  line-height: var(--line-height-21, 21px);
  font-weight: var(--font-weight-400, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon2 {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.frame-55832 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 172px;
  top: 1790px;
}
.section4 {
  padding: 23px 0px 0px 0px;
  flex-shrink: 0;
  width: 564px;
  height: 375.26px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container7 {
  padding: 0px 15px 1px 15px;
  display: flex;
  flex-direction: column;
  gap: var(--item-spacing-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  max-width: var(--width-53333, 533.33px);
  position: absolute;
  right: 30.67px;
  left: 0px;
  top: calc(50% - 164.63px);
}
.centralize-engage-and-convert-students-with-our-end-to-end-education-crm3 {
  color: rgba(255, 182, 0, 0.8);
  text-align: left;
  font-family: var(
    --wwwmerittocom-semantic-heading-2-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--wwwmerittocom-semantic-heading-2-font-size, 26px);
  line-height: var(--wwwmerittocom-semantic-heading-2-line-height, 32.5px);
  font-weight: var(--wwwmerittocom-semantic-heading-2-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon3 {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.frame-1 {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  row-gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 388.08px;
  position: absolute;
  left: 623px;
  top: 0px;
}
.component-82 {
  flex-shrink: 0;
  width: 184.04px;
  height: 149.03px;
  position: relative;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.frame-558292 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 15px;
  top: 17.5px;
}
.ticket-buy-streamline-ultimate-light {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: static;
}
.ticket-buy-streamline-ultimate-light2 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 53.02px;
  top: 0px;
  object-fit: cover;
}
.real-work-experience4 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 10.502288818359375px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-with-companies-directly-on-software-development-projects-to-master-your-skills-and-build-a-strong4 {
  color: #fbfaff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 11px;
  line-height: 11.88px;
  font-weight: 400;
  position: relative;
  width: 154.03px;
  height: 40.01px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-92 {
  flex-shrink: 0;
  width: 184.04px;
  height: 149.03px;
  position: relative;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.frame-558293 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 14.96px;
  top: 15px;
}
.time-schedule-set-streamline-core-solid2 {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  object-fit: cover;
}
.component-102 {
  flex-shrink: 0;
  width: 184.04px;
  height: 149.03px;
  position: relative;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.frame-558294 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 15px;
  top: 16.97px;
}
.messages-people-user-clock-streamline-ultimate-bold {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: static;
}
.messages-people-user-clock-streamline-ultimate-bold2 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 53.02px;
  top: 0px;
  object-fit: cover;
}
.frame-232 {
  padding: 0px 150px 0px 156px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1484px;
  height: 167px;
  position: absolute;
  left: -27px;
  top: 4028px;
}
.frame-229 {
  flex-shrink: 0;
  width: 1484px;
  height: 167px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-231 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.our-platform-is-built-on-five-core-principles-to-guarantee-your-success {
  color: #ffffff;
  text-align: left;
  font-family: "Gorditas-Regular", sans-serif;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  position: relative;
  width: 523px;
  height: 68px;
}
.image-box {
  flex-shrink: 0;
  width: 236px;
  height: 167px;
  position: relative;
  object-fit: cover;
}
.group-229 {
  flex-shrink: 0;
  width: 343.49px;
  height: 34.07px;
  position: static;
}
.background {
  width: 31.16%;
  height: 20.4%;
  position: absolute;
  right: 0%;
  left: 68.84%;
  bottom: 39.8%;
  top: 39.8%;
  overflow: visible;
}
.frame-230 {
  background: #ffb600;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 81.09px;
  height: 34px;
  position: absolute;
  left: 1021px;
  top: 66.53px;
}
.sign-up {
  color: #fff6f6;
  text-align: center;
  font-family: "GothicA1-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 29.2px;
  font-weight: 600;
  position: relative;
}
.enter-your-email {
  color: #838282;
  text-align: center;
  font-family: "GothicA1-ExtraLight", sans-serif;
  font-size: 14px;
  line-height: 29.2px;
  font-weight: 200;
  position: absolute;
  left: 759px;
  top: 69.53px;
  width: 146px;
  height: 27px;
}
.rectangle-169 {
  width: 1472px;
  height: 631px;
  position: absolute;
  left: 0px;
  top: 38px;
  object-fit: cover;
}
.group-232 {
  position: absolute;
  inset: 0;
}
.rectangle-170 {
  background: rgba(1, 1, 1, 0.46);
  width: 1472px;
  height: 640px;
  position: absolute;
  left: -22px;
  top: 34px;
  filter: blur(3.5px);
}
.frame-2382 {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  width: 714.06px;
  height: 275.15px;
  position: absolute;
  left: calc(50% - 341px);
  top: 216px;
}
.heading {
  color: #ffffff;
  text-align: center;
  font-family: "Outfit-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 61px;
}
.heading2 {
  color: #fdfdff;
  text-align: center;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 48px;
}
.classic-button {
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.hover-false {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button {
  background: #d4af37;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 5px 15px 0px rgba(37, 44, 97, 0.15),
    0px 2px 4px 0px rgba(136, 144, 194, 0.2);
  overflow: hidden;
}
.get-started {
  color: #ffffff;
  text-align: left;
  font-family: "RobotoSlab-Bold", sans-serif;
  font-size: 21.030000686645508px;
  font-weight: 700;
  position: relative;
}
.hover-true {
  padding: 0px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button2 {
  background: #d4af37;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 7px 21px 0px rgba(37, 44, 97, 0.2),
    0px 3px 8px 0px rgba(136, 144, 194, 0.25);
  overflow: hidden;
}
.frame-249 {
  width: 715px;
  height: 154px;
  position: absolute;
  left: calc(50% - 350px);
  top: 1401px;
}
.frame-12 {
  width: 211px;
  height: 154px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-240 {
  background: rgba(251, 251, 251, 0.89);
  border-radius: 4px;
  padding: 16px 25px 16px 25px;
  width: 211px;
  height: 154px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ion-school {
  width: 72px;
  height: 72px;
  position: absolute;
  left: 64px;
  top: 16px;
  overflow: visible;
  aspect-ratio: 1;
}
.schools-colleges {
  color: #000000;
  text-align: center;
  font-family: var(
    --wwwmerittocom-semantic-link-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--wwwmerittocom-semantic-link-font-size, 15.199999809265137px);
  line-height: var(--wwwmerittocom-semantic-link-line-height, 22.8px);
  font-weight: var(--wwwmerittocom-semantic-link-font-weight, 600);
  position: absolute;
  left: 30px;
  top: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-2 {
  width: 211px;
  height: 154px;
  position: absolute;
  left: 252px;
  top: 0px;
}
.frame-241 {
  background: rgba(251, 251, 251, 0.89);
  border-radius: 4px;
  padding: 18px 29px 18px 29px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  width: 211px;
  height: 154px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.streamline-freehand-color-business-coaching-strategy-1 {
  flex-shrink: 0;
  width: 62px;
  height: 62px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.group {
  width: 97.69%;
  height: 99.99%;
  position: absolute;
  right: 1.15%;
  left: 1.16%;
  bottom: 0.01%;
  top: 0%;
  overflow: visible;
}
.coaching-centers {
  color: #000000;
  text-align: center;
  font-family: var(
    --wwwmerittocom-semantic-link-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--wwwmerittocom-semantic-link-font-size, 15.199999809265137px);
  line-height: var(--wwwmerittocom-semantic-link-line-height, 22.8px);
  font-weight: var(--wwwmerittocom-semantic-link-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-4 {
  width: 211px;
  height: 154px;
  position: absolute;
  left: 481px;
  top: 0px;
}
.streamline-freehand-color-design-process-drawing-board-education {
  flex-shrink: 0;
  width: 59px;
  height: 59px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.group2 {
  width: 100%;
  height: 98.74%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0.63%;
  top: 0.63%;
  overflow: visible;
}
.ed-tech-platform {
  color: #000000;
  text-align: center;
  font-family: var(
    --wwwmerittocom-semantic-link-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--wwwmerittocom-semantic-link-font-size, 15.199999809265137px);
  line-height: var(--wwwmerittocom-semantic-link-line-height, 22.8px);
  font-weight: var(--wwwmerittocom-semantic-link-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-55833 {
  display: flex;
  flex-direction: row;
  gap: 90px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 157px;
  top: 2763px;
}
.section5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 533.33px;
  position: relative;
}
.container8 {
  padding: 0px 15px 1px 15px;
  display: flex;
  flex-direction: column;
  gap: var(--item-spacing-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: var(--width-53333, 533.33px);
  position: relative;
}
.icon4 {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.frame-55831 {
  display: flex;
  flex-direction: row;
  gap: 19px;
  row-gap: 33px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 387.08px;
  position: relative;
}
.frame-558295 {
  width: 154.03px;
  height: 40.01px;
  position: absolute;
  left: 15px;
  top: 13px;
  overflow: visible;
}
.work-with-companies-directly-on-software-development-projects-to-master-your-skills-and-build-a-strong5 {
  color: #fbfaff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 11px;
  line-height: 11.88px;
  font-weight: 400;
  position: absolute;
  left: 17px;
  top: 91px;
  width: 154.03px;
  height: 40.01px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.real-work-experience5 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 10.502288818359375px;
  font-weight: 600;
  position: absolute;
  left: 41px;
  top: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-558296 {
  width: 154.03px;
  height: 40.01px;
  position: absolute;
  left: 15px;
  top: 19px;
}
.electronic-billing-monitor-streamline-ultimate-bold {
  position: absolute;
  inset: 0;
}
.electronic-billing-monitor-streamline-ultimate-bold2 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 52.96px;
  top: -8px;
  object-fit: cover;
}
.work-with-companies-directly-on-software-development-projects-to-master-your-skills-and-build-a-strong6 {
  color: #fbfaff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 11px;
  line-height: 11.88px;
  font-weight: 400;
  position: absolute;
  left: 16.96px;
  top: 91px;
  width: 154.03px;
  height: 40.01px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.real-work-experience6 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 10.502288818359375px;
  font-weight: 600;
  position: absolute;
  left: 40px;
  top: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-11 {
  flex-shrink: 0;
  width: 184.04px;
  height: 149.03px;
  position: relative;
}
.frame-558297 {
  width: 154px;
  height: 47px;
  position: absolute;
  left: 15px;
  top: 13px;
}
.upcoming-event-next-streamline-sharp-remix {
  position: absolute;
  inset: 0;
}
.upcoming-event-next-streamline-sharp-remix2 {
  width: 50px;
  height: 39.97px;
  position: absolute;
  left: 60px;
  top: -0.03px;
  object-fit: cover;
}
