.professional,
.professional * {
  box-sizing: border-box;
}
.professional {
  background: #000000;
  height: 6017px;
  position: relative;
  overflow: hidden;
}
.rectangle-2 {
  width: 1472px;
  height: 650px;
  position: absolute;
  left: -8px;
  top: 149px;
  object-fit: cover;
}
.image {
  background: rgba(255, 182, 0, 0.8);
  border-radius: 16px;
  width: 676px;
  height: 73px;
  position: absolute;
  left: -94px;
  top: 3515px;
  overflow: hidden;
}
.replace-this {
  background: #ffb600;
  width: 920px;
  height: 73px;
  position: absolute;
  left: -244px;
  top: 0px;
}
.image2 {
  background: #ffb600;
  border-radius: 16px;
  width: 676px;
  height: 73px;
  position: absolute;
  left: 858px;
  top: 4253px;
  overflow: hidden;
}
.box-3 {
  position: absolute;
  inset: 0;
}
.lorem-ipsum-is-simply-to {
  color: #000000;
  text-align: left;
  font-family: "Adamina-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 27.83%;
  left: 57.45%;
  width: 14.72%;
  bottom: 79.07%;
  top: 20.56%;
  height: 0.37%;
}
.consultants-agencies {
  color: #fffafa;
  text-align: left;
  font-family: "Outfit-Medium", sans-serif;
  font-size: 36px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  right: 32.64%;
  left: 37.43%;
  width: 29.93%;
  bottom: 70.19%;
  top: 29%;
  height: 0.81%;
}
.icon-box {
  display: flex;
  flex-direction: row;
  gap: 44px;
  row-gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 876px;
  position: absolute;
  left: 244px;
  top: 3922px;
}
.icon-box-1 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon {
  background: rgba(255, 182, 0, 0.7);
  border-radius: 12px;
  flex-shrink: 0;
  width: 92px;
  height: 92px;
  position: relative;
  overflow: hidden;
}
.users {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.text-box-1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.heading {
  color: #fbfaff;
  text-align: left;
  font-family: var(--heading-5-font-family, "Lexend-SemiBold", sans-serif);
  font-size: var(--heading-5-font-size, 24px);
  line-height: var(--heading-5-line-height, 140%);
  font-weight: var(--heading-5-font-weight, 600);
  position: relative;
  width: 300px;
}
.text {
  color: #f9f9ff;
  text-align: left;
  font-family: var(--body-2-font-family, "DmSans-Regular", sans-serif);
  font-size: var(--body-2-font-size, 16px);
  line-height: var(--body-2-line-height, 160%);
  font-weight: var(--body-2-font-weight, 400);
  position: relative;
  width: 300px;
}
.icon-box-2 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.clock {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.heading2 {
  color: #faf9ff;
  text-align: left;
  font-family: var(--heading-5-font-family, "Lexend-SemiBold", sans-serif);
  font-size: var(--heading-5-font-size, 24px);
  line-height: var(--heading-5-line-height, 140%);
  font-weight: var(--heading-5-font-weight, 600);
  position: relative;
  width: 300px;
}
.text2 {
  color: #f7f6fe;
  text-align: left;
  font-family: var(--body-2-font-family, "DmSans-Regular", sans-serif);
  font-size: var(--body-2-font-size, 16px);
  line-height: var(--body-2-line-height, 160%);
  font-weight: var(--body-2-font-weight, 400);
  position: relative;
  width: 300px;
}
.icon-box-3 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.package {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.text3 {
  color: #fdfdff;
  text-align: left;
  font-family: var(--body-2-font-family, "DmSans-Regular", sans-serif);
  font-size: var(--body-2-font-size, 16px);
  line-height: var(--body-2-line-height, 160%);
  font-weight: var(--body-2-font-weight, 400);
  position: relative;
  width: 300px;
}
.icon-box-4 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.smile {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.heading3 {
  color: #fefeff;
  text-align: left;
  font-family: var(--heading-5-font-family, "Lexend-SemiBold", sans-serif);
  font-size: var(--heading-5-font-size, 24px);
  line-height: var(--heading-5-line-height, 140%);
  font-weight: var(--heading-5-font-weight, 600);
  position: relative;
  width: 300px;
}
.text4 {
  color: #fefeff;
  text-align: left;
  font-family: var(--body-2-font-family, "DmSans-Regular", sans-serif);
  font-size: var(--body-2-font-size, 16px);
  line-height: var(--body-2-line-height, 160%);
  font-weight: var(--body-2-font-weight, 400);
  position: relative;
  width: 300px;
}
.header {
  position: absolute;
  inset: 0;
}
.header2 {
  width: 1440px;
  height: 74px;
  position: static;
}
.group-234 {
  width: 1440px;
  height: 74px;
  position: static;
}
.group-233 {
  width: 1440px;
  height: 74px;
  position: static;
}
.rectangle-169 {
  background: #141414;
  width: 1440px;
  height: 74px;
  position: absolute;
  left: -30px;
  top: 23px;
}
.frame-240 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 509px;
  position: absolute;
  left: 365px;
  top: 40px;
}
.group-2332 {
  align-self: stretch;
  flex-shrink: 0;
  height: 21px;
  position: static;
}
.group-232 {
  width: 489px;
  height: 21px;
  position: static;
}
.frame-236 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  width: 489px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.frame-238 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 489px;
  position: relative;
}
.frame-237 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.why-us {
  flex-shrink: 0;
  width: 95px;
  height: 21px;
  position: relative;
}
.why-us2 {
  color: #d4af37;
  text-align: left;
  font-family: "TimesNewRoman-Regular", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.features {
  flex-shrink: 0;
  width: 91px;
  height: 21px;
  position: relative;
}
.features2 {
  color: #d4af37;
  text-align: left;
  font-family: "TimesNewRoman-Regular", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.industries {
  flex-shrink: 0;
  width: 104px;
  height: 21px;
  position: relative;
}
.industries2 {
  color: #d4af37;
  text-align: left;
  font-family: "TimesNewRoman-Regular", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.pricing {
  flex-shrink: 0;
  width: 84px;
  height: 21px;
  position: relative;
}
.pricing2 {
  color: #d4af37;
  text-align: left;
  font-family: "TimesNewRoman-Regular", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.play-books {
  flex-shrink: 0;
  width: 87px;
  height: 21px;
  position: relative;
}
.play-books2 {
  color: #d4af37;
  text-align: left;
  font-family: "TimesNewRoman-Regular", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.group-2322 {
  width: 295px;
  height: 45px;
  position: static;
}
.frame-2382 {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  width: 20.49%;
  height: 0.75%;
  position: absolute;
  right: 10%;
  left: 69.51%;
  bottom: 98.65%;
  top: 0.6%;
}
.frame-239 {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 246px;
  position: relative;
}
.primary-button {
  flex-shrink: 0;
  width: 100px;
  height: 45px;
  position: relative;
}
.primary-button2 {
  border-radius: 11px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.rectangle {
  background: #d4af37;
  border-radius: 10px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}
.login {
  color: #363636;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary-button3 {
  flex-shrink: 0;
  width: 165px;
  height: 45px;
  position: relative;
}
.download-1 {
  width: 74px;
  height: 74px;
  position: absolute;
  left: 82.5px;
  top: 23px;
  backdrop-filter: blur(2px);
  object-fit: cover;
  aspect-ratio: 1;
}
.group-267 {
  position: absolute;
  inset: 0;
}
.frame-276 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 1206px;
  position: absolute;
  left: 152px;
  top: 1929px;
}
.group-266 {
  flex-shrink: 0;
  width: 676px;
  height: 448px;
  position: static;
}
.rectangle-34 {
  width: 494px;
  height: 421px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.group-262 {
  width: 284px;
  height: 104px;
  position: absolute;
  left: 380px;
  top: 12px;
}
.group-247 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.rectangle-35 {
  background: #ffffff;
  border-radius: 15px 15px 15px 0px;
  border-style: solid;
  border-color: #181818;
  border-width: 1px;
  width: 95.07%;
  height: 100%;
  position: absolute;
  right: 4.93%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.rectangle-101 {
  border-radius: 15px;
  width: 27.11%;
  height: 72.12%;
  position: absolute;
  right: 66.9%;
  left: 5.99%;
  bottom: 15.38%;
  top: 12.5%;
  object-fit: cover;
}
.invoice-automation {
  color: #fc7c05;
  text-align: center;
  font-family: "Sora-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 28.87%;
  width: 71.13%;
  bottom: 25.96%;
  top: 22.12%;
  height: 51.92%;
}
.group-252 {
  width: 246px;
  height: 91px;
  position: absolute;
  left: 301px;
  top: 125px;
}
.rectangle-37 {
  background: #ffffff;
  border-radius: 15px 15px 0px 15px;
  border-style: solid;
  border-color: #181818;
  border-width: 1px;
  width: 95.53%;
  height: 100%;
  position: absolute;
  right: 4.47%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-2522 {
  position: absolute;
  inset: 0;
}
.automated-reminders {
  color: #fc7c05;
  text-align: center;
  font-family: "Sora-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 17.48%;
  width: 82.52%;
  bottom: 26.37%;
  top: 25.27%;
  height: 48.35%;
}
.uil-comment-alt-verify {
  border-radius: 12px;
  width: 18.7%;
  height: 48.35%;
  position: absolute;
  right: 74.39%;
  left: 6.91%;
  bottom: 26.37%;
  top: 25.27%;
  overflow: visible;
}
.group-253 {
  width: 289px;
  height: 92px;
  position: absolute;
  left: 387px;
  top: 243px;
}
.rectangle-36 {
  background: #ffffff;
  border-radius: 0px 15px 15px 15px;
  border-style: solid;
  border-color: #181818;
  border-width: 1px;
  width: 100%;
  height: 95.65%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 4.35%;
  top: 0%;
}
.group-38 {
  position: absolute;
  inset: 0;
}
.vector {
  width: 19.03%;
  height: 59.14%;
  position: absolute;
  right: 74.05%;
  left: 6.92%;
  bottom: 28.9%;
  top: 11.96%;
  overflow: visible;
}
._80 {
  color: #5e549b;
  text-align: center;
  font-family: "Sora-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  right: 77.85%;
  left: 11.07%;
  width: 11.07%;
  bottom: 34.78%;
  top: 31.52%;
  height: 33.7%;
}
.ai-powered-client-follow-ups {
  color: #fc7c05;
  text-align: center;
  font-family: "Sora-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 4.15%;
  left: 29.07%;
  width: 66.78%;
  bottom: 0%;
  top: 19.57%;
  height: 80.43%;
}
.group-254 {
  width: 314px;
  height: 92px;
  position: absolute;
  left: 300px;
  top: 356px;
}
.rectangle-102 {
  background: #ffffff;
  border-radius: 0px 15px 15px 15px;
  border-style: solid;
  border-color: #181818;
  border-width: 1px;
  width: 100%;
  height: 95.65%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 4.35%;
  top: 0%;
}
.faster-deals-stronger-relationships {
  color: #fc7c05;
  text-align: center;
  font-family: "Sora-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 0.32%;
  left: 20.38%;
  width: 79.3%;
  bottom: 0%;
  top: 17.39%;
  height: 82.61%;
}
.vector2 {
  width: 16.88%;
  height: 33.7%;
  position: absolute;
  right: 79.62%;
  left: 3.5%;
  bottom: 34.78%;
  top: 31.52%;
  overflow: visible;
}
.frame-275 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 497px;
  position: relative;
}
.convert-leads-with-automated-follow-up {
  color: #fffafa;
  text-align: left;
  font-family: "Lexend-Regular", sans-serif;
  font-size: 32px;
  line-height: 54px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions {
  color: #fffefe;
  text-align: left;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 20px;
  line-height: 29.2px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 85px;
}
.group-269 {
  position: absolute;
  inset: 0;
}
.frame-274 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 1094px;
  position: absolute;
  left: 138px;
  top: 2536px;
}
.frame-273 {
  display: flex;
  flex-direction: column;
  gap: 47px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 478px;
  position: relative;
}
.it-saa-s-providers {
  color: #fffafa;
  text-align: left;
  font-family: "Outfit-Medium", sans-serif;
  font-size: 36px;
  line-height: 54px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.group-268 {
  flex-shrink: 0;
  width: 583px;
  height: 377px;
  position: static;
}
.rectangle-107 {
  width: 455px;
  height: 377px;
  position: absolute;
  left: 1094px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.group-255 {
  width: 243px;
  height: 76px;
  position: absolute;
  left: 552px;
  top: 22px;
}
.rectangle-104 {
  background: #ffffff;
  border-radius: 15px 15px 0px 15px;
  border-style: solid;
  border-color: #181818;
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.demo-booking {
  color: #fc7c05;
  text-align: center;
  font-family: "Sora-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 4.53%;
  left: 22.22%;
  width: 73.25%;
  bottom: 14.47%;
  top: 34.21%;
  height: 51.32%;
}
.uil-comment-alt-verify2 {
  border-radius: 12px;
  width: 14.4%;
  height: 48.68%;
  position: absolute;
  right: 76.95%;
  left: 8.64%;
  bottom: 26.32%;
  top: 25%;
  overflow: visible;
}
.group-257 {
  width: 255px;
  height: 74px;
  position: absolute;
  left: 511px;
  top: 134px;
}
.group-246 {
  position: absolute;
  inset: 0;
}
.rectangle-105 {
  background: #ffffff;
  border-radius: 0px 15px 15px 15px;
  border-style: solid;
  border-color: #181818;
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.billing-reminders {
  color: #fc7c05;
  text-align: center;
  font-family: "Sora-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 14.51%;
  left: 22.35%;
  width: 63.14%;
  bottom: 18.92%;
  top: 17.57%;
  height: 63.51%;
}
.fluent-mdl-2-reminder-time {
  width: 15.69%;
  height: 40px;
  position: absolute;
  right: 75.29%;
  left: 9.02%;
  top: 17px;
  overflow: visible;
  aspect-ratio: 1;
}
.group-259 {
  width: 277px;
  height: 75px;
  position: absolute;
  left: 511px;
  top: 259px;
}
.group-2472 {
  position: absolute;
  inset: 0;
}
.rectangle-106 {
  background: #ffffff;
  border-radius: 0px 15px 15px 15px;
  border-style: solid;
  border-color: #181818;
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.support-ticket-tracking-in-crm {
  color: #fc7c05;
  text-align: center;
  font-family: "Sora-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 7.94%;
  left: 19.49%;
  width: 72.56%;
  bottom: 0%;
  top: 14.67%;
  height: 85.33%;
}
.fluent-mdl-2-issue-tracking-mirrored {
  width: 14.08%;
  height: 40px;
  position: absolute;
  right: 78.34%;
  left: 7.58%;
  top: 16px;
  overflow: visible;
  aspect-ratio: 39/40;
}
.frame-282 {
  display: flex;
  flex-direction: row;
  gap: 72px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 111px;
  top: 3033px;
}
.group-271 {
  flex-shrink: 0;
  width: 637px;
  height: 395px;
  position: static;
}
.group-270 {
  width: 637px;
  height: 395px;
  position: static;
}
.group-275 {
  width: 637px;
  height: 395px;
  position: static;
}
.rectangle-108 {
  width: 467px;
  height: 352px;
  position: absolute;
  left: 170px;
  top: 9px;
  object-fit: cover;
}
.group-274 {
  width: 374px;
  height: 395px;
  position: static;
}
.group-256 {
  width: 243px;
  height: 76px;
  position: absolute;
  left: 131px;
  top: 0px;
}
.uil-comment-alt-verify3 {
  border-radius: 12px;
  width: 14.4%;
  height: 48.68%;
  position: absolute;
  right: 76.95%;
  left: 8.64%;
  bottom: 26.32%;
  top: 25%;
  overflow: visible;
}
.group-258 {
  width: 255px;
  height: 74px;
  position: absolute;
  left: 73px;
  top: 113px;
}
.fluent-mdl-2-reminder-time2 {
  width: 15.69%;
  height: 40px;
  position: absolute;
  right: 75.29%;
  left: 9.02%;
  top: 17px;
  overflow: visible;
  aspect-ratio: 1;
}
.group-260 {
  width: 255px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 216px;
}
.rectangle-111 {
  background: #ffffff;
  border-radius: 0px 15px 15px 15px;
  border-style: solid;
  border-color: #181818;
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.document-storage {
  color: #fc7c05;
  text-align: center;
  font-family: "Sora-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 21.18%;
  width: 78.82%;
  bottom: 0%;
  top: 14.67%;
  height: 85.33%;
}
.mdi-storage {
  width: 21.18%;
  height: 54px;
  position: absolute;
  right: 68.24%;
  left: 10.59%;
  top: 11px;
  overflow: visible;
  aspect-ratio: 1;
}
.group-261 {
  width: 238px;
  height: 75px;
  position: absolute;
  left: 127px;
  top: 320px;
}
.rectangle-112 {
  background: #ffffff;
  border-radius: 0px 15px 15px 15px;
  border-style: solid;
  border-color: #181818;
  border-width: 1px;
  width: 99.16%;
  height: 100%;
  position: absolute;
  right: 0.84%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.e-signing {
  color: #fc7c05;
  text-align: center;
  font-family: "Sora-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 13.45%;
  width: 86.55%;
  bottom: 25.33%;
  top: 34.67%;
  height: 40%;
}
.mdi-sign {
  width: 28.57%;
  height: 68px;
  position: absolute;
  right: 63.03%;
  left: 8.4%;
  top: 4px;
  overflow: visible;
  aspect-ratio: 1;
}
.group-276 {
  flex-shrink: 0;
  width: 480px;
  height: 297px;
  position: static;
}
.from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions2 {
  color: #fffefe;
  text-align: left;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 20px;
  line-height: 29.2px;
  font-weight: 400;
  position: absolute;
  left: 709px;
  top: 148px;
  width: 478px;
  height: 85px;
}
.from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions3 {
  color: #fffefe;
  text-align: left;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 20px;
  line-height: 29.2px;
  font-weight: 400;
  position: absolute;
  left: 711px;
  top: 261px;
  width: 478px;
  height: 85px;
}
.legal-accounting-firms {
  color: #fffafa;
  text-align: left;
  font-family: "Outfit-Regular", sans-serif;
  font-size: 32px;
  line-height: 54px;
  font-weight: 400;
  position: absolute;
  right: 4.88%;
  left: 59.63%;
  width: 35.49%;
  bottom: 75.27%;
  top: 12.41%;
  height: 12.33%;
}
.frame-272 {
  display: flex;
  flex-direction: column;
  gap: 46px;
  align-items: center;
  justify-content: flex-start;
  width: 1000px;
  position: absolute;
  left: 230px;
  top: 3652px;
}
.heading4 {
  color: #fcfbff;
  text-align: center;
  font-family: "Lexend-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 140%;
  font-weight: 600;
  position: relative;
  width: 720px;
}
.from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions4 {
  color: #fffefe;
  text-align: center;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 20px;
  line-height: 29.2px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 85px;
}
.frame-279 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 129px;
  top: 1122px;
}
.frame-277 {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 548px;
  position: relative;
}
.lorem-ips-simply-dummy {
  color: #d4af37;
  text-align: left;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 36px;
  line-height: 54px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions-discover-how-we-help-businesses-streamline-operations-enhance-customer-relationships-and-drive-growth {
  color: #ffffff;
  text-align: left;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 20px;
  line-height: 29.2px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 184px;
}
.frame-278 {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 650.68px;
  position: relative;
}
.group-263 {
  flex-shrink: 0;
  width: 650.68px;
  height: 136px;
  position: static;
}
.lorem-ipsum-is-simply-to2 {
  color: #d4af37;
  text-align: left;
  font-family: "AdLaMDisplay-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 38.68%;
  left: 24.59%;
  width: 36.73%;
  bottom: 92.35%;
  top: 1.88%;
  height: 5.78%;
}
.background {
  width: 19.4%;
  height: 27.45%;
  position: absolute;
  right: 80.6%;
  left: 0%;
  bottom: 72.55%;
  top: 0%;
  overflow: visible;
}
.icon-box2 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  width: 60px;
  height: 48px;
  position: absolute;
  left: 33px;
  top: 38px;
  object-fit: cover;
}
.from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions5 {
  color: #fffefe;
  text-align: left;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 20px;
  line-height: 29.2px;
  font-weight: 400;
  position: absolute;
  left: 160.68px;
  top: 51px;
  width: 490px;
  height: 85px;
}
.group-264 {
  flex-shrink: 0;
  width: 650.68px;
  height: 124px;
  position: static;
}
.lorem-ipsum-is-simply-to3 {
  color: #d4af37;
  text-align: left;
  font-family: "AdLaMDisplay-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 38.68%;
  left: 24.59%;
  width: 36.73%;
  bottom: 56.35%;
  top: 37.88%;
  height: 5.78%;
}
.background2 {
  width: 19.4%;
  height: 27.45%;
  position: absolute;
  right: 80.6%;
  left: 0%;
  bottom: 36.55%;
  top: 36%;
  overflow: visible;
}
.icon-box3 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  width: 60px;
  height: 48px;
  position: absolute;
  left: 33px;
  top: 200px;
  object-fit: cover;
}
.from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions6 {
  color: #fffefe;
  text-align: left;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 20px;
  line-height: 29.2px;
  font-weight: 400;
  position: absolute;
  left: 160.68px;
  top: 201px;
  width: 490px;
  height: 85px;
}
.group-265 {
  flex-shrink: 0;
  width: 649.68px;
  height: 138px;
  position: static;
}
.background3 {
  width: 19.4%;
  height: 27.45%;
  position: absolute;
  right: 80.6%;
  left: 0%;
  bottom: 3.22%;
  top: 69.33%;
  overflow: visible;
}
.icon-box4 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  width: 60px;
  height: 48px;
  position: absolute;
  left: 33px;
  top: 350px;
  object-fit: cover;
}
.box-2 {
  width: 239px;
  height: 26px;
  position: static;
}
.lorem-ipsum-is-simply-to4 {
  color: #d4af37;
  text-align: left;
  font-family: "AdLaMDisplay-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 38.58%;
  left: 24.69%;
  width: 36.73%;
  bottom: 23.11%;
  top: 71.11%;
  height: 5.78%;
}
.from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions7 {
  color: #fffefe;
  text-align: left;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 20px;
  line-height: 29.2px;
  font-weight: 400;
  position: absolute;
  left: 159.68px;
  top: 365px;
  width: 490px;
  height: 85px;
}
.frame-2392 {
  width: 1168px;
  height: 479px;
  position: absolute;
  left: 120px;
  top: 4561px;
}
.frame-281 {
  display: flex;
  flex-direction: row;
  gap: 84px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 44px;
  top: 0px;
}
.section-3 {
  flex-shrink: 0;
  width: 492.07px;
  height: 428px;
  position: relative;
  overflow: visible;
}
.frame-280 {
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 548px;
  position: relative;
}
.lorem-ipsum-simp {
  color: #ffb600;
  text-align: left;
  font-family: "Aharoni-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.group-272 {
  flex-shrink: 0;
  width: 548px;
  height: 343.67px;
  position: static;
}
.group-273 {
  width: 548px;
  height: 343.67px;
  position: static;
}
.from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions-discover-how-we-help-businesses-streamline-operations-enhance-customer-relationships-and-drive-growth2 {
  color: #ffffff;
  text-align: left;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 20px;
  line-height: 29.2px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 79px;
  width: 548px;
  height: 184px;
}
.from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions-discover-how-we-help-businesses-streamline-operations-enhance-customer-relationships-and-drive-growth3 {
  color: #ffffff;
  text-align: left;
  font-family: "NeueHaasGroteskTextPro-Regular", sans-serif;
  font-size: 20px;
  line-height: 29.2px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 238.67px;
  width: 548px;
  height: 184px;
}
.frame-232 {
  padding: 0px 150px 0px 156px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1484px;
  height: 167px;
  position: absolute;
  left: -44px;
  top: 5176px;
}
.frame-229 {
  flex-shrink: 0;
  width: 1484px;
  height: 167px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-231 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.our-platform-is-built-on-five-core-principles-to-guarantee-your-success {
  color: #ffffff;
  text-align: left;
  font-family: "Gorditas-Regular", sans-serif;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  position: relative;
  width: 523px;
  height: 68px;
}
.image-box {
  flex-shrink: 0;
  width: 236px;
  height: 167px;
  position: relative;
  object-fit: cover;
}
.group-229 {
  flex-shrink: 0;
  width: 343.49px;
  height: 34.07px;
  position: static;
}
.background4 {
  width: 31.16%;
  height: 20.4%;
  position: absolute;
  right: 0%;
  left: 68.84%;
  bottom: 39.8%;
  top: 39.8%;
  overflow: visible;
}
.frame-230 {
  background: #ffb600;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 81.09px;
  height: 34px;
  position: absolute;
  left: 1021px;
  top: 66.53px;
}
.sign-up {
  color: #fff6f6;
  text-align: center;
  font-family: "GothicA1-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 29.2px;
  font-weight: 600;
  position: relative;
}
.enter-your-email {
  color: #838282;
  text-align: center;
  font-family: "GothicA1-ExtraLight", sans-serif;
  font-size: 14px;
  line-height: 29.2px;
  font-weight: 200;
  position: absolute;
  left: 759px;
  top: 69.53px;
  width: 146px;
  height: 27px;
}
.frame-2372 {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  justify-content: flex-start;
  width: 1098px;
  position: absolute;
  left: 170px;
  top: 5527px;
}
.frame-235 {
  flex-shrink: 0;
  width: 1037px;
  height: 191px;
  position: relative;
}
.button-zea-crm-logo {
  width: 140px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
}
.container {
  display: flex;
  flex-direction: column;
  gap: var(--line-height-16, 16px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 83px;
  height: 188px;
  position: absolute;
  left: 344px;
  top: 2px;
}
.heading-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --zeacrmcom-semantic-heading-3-upper-font-family,
    "TimesNewRoman-Bold",
    sans-serif
  );
  font-size: var(--zeacrmcom-semantic-heading-3-upper-font-size, 14px);
  line-height: var(--zeacrmcom-semantic-heading-3-upper-line-height, 20px);
  letter-spacing: var(
    --zeacrmcom-semantic-heading-3-upper-letter-spacing,
    0.7px
  );
  font-weight: var(--zeacrmcom-semantic-heading-3-upper-font-weight, 700);
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list {
  display: flex;
  flex-direction: column;
  gap: var(--font-size-12, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.features3 {
  color: #d4dae4;
  text-align: left;
  font-family: var(
    --zeacrmcom-semantic-button-font-family,
    "TimesNewRoman-Regular",
    sans-serif
  );
  font-size: var(--zeacrmcom-semantic-button-font-size, 16px);
  line-height: var(--zeacrmcom-semantic-button-line-height, 24px);
  font-weight: var(--zeacrmcom-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing3 {
  color: #d4dae4;
  text-align: left;
  font-family: var(
    --zeacrmcom-semantic-button-font-family,
    "TimesNewRoman-Regular",
    sans-serif
  );
  font-size: var(--zeacrmcom-semantic-button-font-size, 16px);
  line-height: var(--zeacrmcom-semantic-button-line-height, 24px);
  font-weight: var(--zeacrmcom-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.industries3 {
  color: #c1c9d8;
  text-align: left;
  font-family: var(
    --zeacrmcom-semantic-button-font-family,
    "TimesNewRoman-Regular",
    sans-serif
  );
  font-size: var(--zeacrmcom-semantic-button-font-size, 16px);
  line-height: var(--zeacrmcom-semantic-button-line-height, 24px);
  font-weight: var(--zeacrmcom-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.play-books3 {
  color: #d4dae4;
  text-align: left;
  font-family: var(
    --zeacrmcom-semantic-button-font-family,
    "TimesNewRoman-Regular",
    sans-serif
  );
  font-size: var(--zeacrmcom-semantic-button-font-size, 16px);
  line-height: var(--zeacrmcom-semantic-button-line-height, 24px);
  font-weight: var(--zeacrmcom-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.support {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(
    --zeacrmcom-semantic-heading-3-upper-font-family,
    "TimesNewRoman-Bold",
    sans-serif
  );
  font-size: var(--zeacrmcom-semantic-heading-3-upper-font-size, 14px);
  line-height: var(--zeacrmcom-semantic-heading-3-upper-line-height, 20px);
  letter-spacing: var(
    --zeacrmcom-semantic-heading-3-upper-letter-spacing,
    0.7px
  );
  font-weight: var(--zeacrmcom-semantic-heading-3-upper-font-weight, 700);
  text-transform: uppercase;
  position: absolute;
  left: 537px;
  top: 0px;
  width: 217px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 265px;
  position: absolute;
  left: 808px;
  top: 31px;
}
.link-facebook {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.svg {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.link-instagram-margin {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link-instagram {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.svg2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.link-linked-in-margin {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link-linked-in {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.svg3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.link-you-tube-margin {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link-you-tube {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.svg4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.zea-crm-is-an-ai-powered-crm-platform-built-for-all-industries-from-healthcare-to-real-estate-retail-and-beyond {
  color: #d4dae4;
  text-align: left;
  font-family: var(--font-family-font-1, "TimesNewRoman-Regular", sans-serif);
  font-size: 12px;
  line-height: var(--line-height-20, 20px);
  font-weight: var(--font-weight-400, 400);
  position: absolute;
  left: -0.5px;
  top: 76px;
  width: 305px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list2 {
  display: flex;
  flex-direction: column;
  gap: var(--font-size-12, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 217px;
  position: absolute;
  left: 537px;
  top: 38px;
}
.contact-us {
  color: #d4dae4;
  text-align: left;
  font-family: var(
    --zeacrmcom-semantic-button-font-family,
    "TimesNewRoman-Regular",
    sans-serif
  );
  font-size: var(--zeacrmcom-semantic-button-font-size, 16px);
  line-height: var(--zeacrmcom-semantic-button-line-height, 24px);
  font-weight: var(--zeacrmcom-semantic-button-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.privacy-policy {
  color: #d4dae4;
  text-align: left;
  font-family: var(
    --zeacrmcom-semantic-link-font-family,
    "TimesNewRoman-Regular",
    sans-serif
  );
  font-size: var(--zeacrmcom-semantic-link-font-size, 16px);
  line-height: var(--zeacrmcom-semantic-link-line-height, 24px);
  font-weight: var(--zeacrmcom-semantic-link-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.terms-of-service {
  color: #d4dae4;
  text-align: left;
  font-family: var(
    --zeacrmcom-semantic-link-font-family,
    "TimesNewRoman-Regular",
    sans-serif
  );
  font-size: var(--zeacrmcom-semantic-link-font-size, 16px);
  line-height: var(--zeacrmcom-semantic-link-line-height, 24px);
  font-weight: var(--zeacrmcom-semantic-link-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.data-security-and-compliance {
  color: #d4dae4;
  text-align: left;
  font-family: var(
    --zeacrmcom-semantic-link-font-family,
    "TimesNewRoman-Regular",
    sans-serif
  );
  font-size: var(--zeacrmcom-semantic-link-font-size, 16px);
  line-height: var(--zeacrmcom-semantic-link-line-height, 24px);
  font-weight: var(--zeacrmcom-semantic-link-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-4 {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 251px;
  position: absolute;
  left: 808px;
  top: 56px;
}
.subscribe-for-product-updates-and-automation-tips {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: var(--font-family-font-1, "TimesNewRoman-Bold", sans-serif);
  font-size: 13px;
  line-height: var(--line-height-20, 20px);
  font-weight: var(--font-weight-700, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 237px;
  position: absolute;
  left: 808.5px;
  top: 127px;
}
.input-email-for-subscription {
  background: var(--color-azure-11, #111827);
  border-radius: var(--radius-6, 6px) 0px 0px var(--radius-6, 6px);
  border-style: solid;
  border-color: var(--color-yellow-52-30, rgba(212, 175, 55, 0.3));
  border-width: 1px;
  padding: 12px 13px 12px 13px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.container3 {
  padding: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.your-email {
  color: var(--color-grey-46, #6b7280);
  text-align: left;
  font-family: var(
    --zeacrmcom-semantic-input-font-family,
    "TimesNewRoman-Regular",
    sans-serif
  );
  font-size: var(--zeacrmcom-semantic-input-font-size, 16px);
  font-weight: var(--zeacrmcom-semantic-input-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button2 {
  background: var(--color-yellow-52, #d4af37);
  border-radius: 0px var(--radius-6, 6px) var(--radius-6, 6px) 0px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.subscribe {
  color: var(--color-grey-4, #0a0a0a);
  text-align: center;
  font-family: var(
    --zeacrmcom-semantic-button-font-family,
    "TimesNewRoman-Bold",
    sans-serif
  );
  font-size: var(--zeacrmcom-semantic-button-font-size, 16px);
  line-height: var(--zeacrmcom-semantic-button-line-height, 24px);
  font-weight: var(--zeacrmcom-semantic-button-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container4 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 24px;
  position: relative;
}
._2025 {
  color: var(--color-grey-46, #6b7280);
  text-align: center;
  font-family: var(
    --zeacrmcom-times-new-roman-regular-font-family,
    "TimesNewRoman-Regular",
    sans-serif
  );
  font-size: var(--zeacrmcom-times-new-roman-regular-font-size, 16px);
  line-height: var(--zeacrmcom-times-new-roman-regular-line-height, 24px);
  font-weight: var(--zeacrmcom-times-new-roman-regular-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.zea-crm {
  color: var(--color-grey-46, #6b7280);
  text-align: center;
  font-family: var(
    --zeacrmcom-semantic-link-font-family,
    "TimesNewRoman-Regular",
    sans-serif
  );
  font-size: var(--zeacrmcom-semantic-link-font-size, 16px);
  line-height: var(--zeacrmcom-semantic-link-line-height, 24px);
  font-weight: var(--zeacrmcom-semantic-link-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.powered-by {
  color: var(--color-grey-46, #6b7280);
  text-align: center;
  font-family: var(
    --zeacrmcom-times-new-roman-regular-font-family,
    "TimesNewRoman-Regular",
    sans-serif
  );
  font-size: var(--zeacrmcom-times-new-roman-regular-font-size, 16px);
  line-height: var(--zeacrmcom-times-new-roman-regular-line-height, 24px);
  font-weight: var(--zeacrmcom-times-new-roman-regular-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.url-factory {
  color: var(--color-grey-46, #6b7280);
  text-align: center;
  font-family: var(
    --zeacrmcom-semantic-link-font-family,
    "TimesNewRoman-Regular",
    sans-serif
  );
  font-size: var(--zeacrmcom-semantic-link-font-size, 16px);
  line-height: var(--zeacrmcom-semantic-link-line-height, 24px);
  font-weight: var(--zeacrmcom-semantic-link-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-rights-reserved {
  color: var(--color-grey-46, #6b7280);
  text-align: center;
  font-family: var(
    --zeacrmcom-times-new-roman-regular-font-family,
    "TimesNewRoman-Regular",
    sans-serif
  );
  font-size: var(--zeacrmcom-times-new-roman-regular-font-size, 16px);
  line-height: var(--zeacrmcom-times-new-roman-regular-line-height, 24px);
  font-weight: var(--zeacrmcom-times-new-roman-regular-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-2622 {
  position: absolute;
  inset: 0;
}
.rectangle-349 {
  background: rgba(15, 14, 14, 0.4);
  width: 1472px;
  height: 650px;
  position: absolute;
  left: -4px;
  top: 149px;
}
.rectangle-4 {
  background: rgba(0, 0, 0, 0.4);
  width: 1472px;
  height: 650px;
  position: absolute;
  left: -30px;
  top: 149px;
}
.frame-2383 {
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: center;
  justify-content: flex-start;
  width: 704px;
  height: 272px;
  position: absolute;
  left: calc(50% - 340px);
  top: 313px;
}
.heading5 {
  color: #faf9ff;
  text-align: center;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 48px;
  line-height: 140%;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  height: 61px;
}
.heading6 {
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 32px;
  line-height: 120%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 131px;
}
.heading-6-span {
  color: #d4af37;
  font-family: "DmSans-Bold", sans-serif;
  font-weight: 700;
}
.heading-6-span2 {
  color: #fdfdff;
  font-family: "DmSans-Regular", sans-serif;
}
.heading-6-span3 {
  color: #fdfdff;
  font-family: "DmSans-Bold", sans-serif;
  font-weight: 700;
}
.classic-button {
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.hover-false {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button3 {
  background: #d4af37;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 5px 15px 0px rgba(37, 44, 97, 0.15),
    0px 2px 4px 0px rgba(136, 144, 194, 0.2);
  overflow: hidden;
}
.get-started {
  color: #ffffff;
  text-align: left;
  font-family: "RobotoSlab-Bold", sans-serif;
  font-size: 21.030000686645508px;
  font-weight: 700;
  position: relative;
}
.hover-true {
  padding: 0px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button4 {
  background: #d4af37;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 7px 21px 0px rgba(37, 44, 97, 0.2),
    0px 3px 8px 0px rgba(136, 144, 194, 0.25);
  overflow: hidden;
}
.healthcare-that-works-for-everyone {
  color: #d4af37;
  text-align: center;
  font-family: "Outfit-Medium", sans-serif;
  font-size: 46px;
  font-weight: 500;
  position: absolute;
  left: 95px;
  top: 963px;
  width: 1233px;
}
