.automative,
.automative * {
  box-sizing: border-box;
}
.automative {
  background: #000000;
  height: 4113px;
  position: relative;
  overflow: hidden;
}
._7-how-it-works {
  background: #161616;
  width: 1440px;
  height: 1632px;
  position: absolute;
  left: 0px;
  top: 728px;
  overflow: hidden;
}
.text {
  color: #fafaff;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 240px);
  top: 1348px;
  width: 582px;
}
.line-9 {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--border-2, #d0dbff);
  border-width: 1px 0 0 0;
  width: 290px;
  height: 0px;
  position: absolute;
  left: 150px;
  bottom: 240px;
}
.card-3 {
  width: 1140px;
  height: 296px;
  position: absolute;
  left: 187px;
  top: 988px;
}
.rectangle-6 {
  border-radius: 10px;
  width: 520px;
  height: 316px;
  position: absolute;
  left: -24px;
  top: 0px;
  object-fit: cover;
}
.group-241 {
  position: absolute;
  inset: 0;
}
.content {
  padding: 0px 0px 0px 62px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 402px;
  top: 68px;
  box-shadow: 0px 4px 4px 0px rgba(255, 250, 250, 0.25);
}
.rectangle-62 {
  background: #fffefe;
  flex-shrink: 0;
  width: 485px;
  height: 212px;
  position: relative;
  box-shadow: 0px 16px 4px 0px rgba(0, 0, 0, 0.25);
}
.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 500px;
  position: absolute;
  left: 496px;
  top: 98px;
}
.equipment-manufacturers {
  color: #050509;
  text-align: left;
  font-family: var(--heading-5-font-family, "DmSans-Bold", sans-serif);
  font-size: var(--heading-5-font-size, 24px);
  line-height: var(--heading-5-line-height, 120%);
  font-weight: var(--heading-5-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.icon-box {
  padding: 0px 0px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 482px;
  top: 141px;
}
.icon-box-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 418px;
  position: relative;
}
.corner-down-right {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.title2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  color: #050509;
  text-align: left;
  font-family: var(--body-1-font-family, "DmSans-Regular", sans-serif);
  font-size: var(--body-1-font-size, 18px);
  line-height: var(--body-1-line-height, 160%);
  letter-spacing: var(--body-1-letter-spacing, -0.03em);
  font-weight: var(--body-1-font-weight, 400);
  position: relative;
  width: 442px;
}
.card-2 {
  width: 1140px;
  height: 296px;
  position: absolute;
  left: 150px;
  top: 629px;
}
.image {
  background: var(--secondary, #58585b);
  border-radius: 10px;
  width: 520px;
  height: 296px;
  position: absolute;
  left: 620px;
  top: 0px;
  overflow: hidden;
}
.gemini-generated-image-xim-4-b-9-xim-4-b-9-xim-4-1 {
  width: 520px;
  height: 296px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 520/296;
}
.group-238 {
  position: absolute;
  inset: 0;
}
.group-239 {
  width: 537px;
  height: 212px;
  position: static;
}
.rectangle-5 {
  background: #fffefe;
  width: 485px;
  height: 212px;
  position: absolute;
  left: 155px;
  top: 42px;
  box-shadow: 0px 16px 4px 0px rgba(0, 0, 0, 0.25);
}
.title3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 500px;
  position: absolute;
  left: 192px;
  top: 61px;
}
.spare-parts-retailers {
  color: #050509;
  text-align: left;
  font-family: var(--heading-5-font-family, "DmSans-Bold", sans-serif);
  font-size: var(--heading-5-font-size, 24px);
  line-height: var(--heading-5-line-height, 120%);
  font-weight: var(--heading-5-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.icon-box2 {
  padding: 0px 0px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 192px;
  top: 114px;
}
.corner-down-right2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.card-1 {
  display: flex;
  flex-direction: row;
  gap: 58px;
  align-items: center;
  justify-content: flex-start;
  height: 322px;
  position: absolute;
  left: 213px;
  top: 249px;
}
.image2 {
  background: var(--secondary, #58585b);
  border-radius: 10px;
  flex-shrink: 0;
  width: 562px;
  height: 390px;
  position: relative;
  overflow: hidden;
}
.icon {
  width: 3.74%;
  height: 6.08%;
  position: absolute;
  right: -9.99%;
  left: 106.26%;
  bottom: 69.02%;
  top: 24.9%;
  overflow: visible;
}
.gemini-generated-image-7-ndia-77-ndia-77-ndi-1 {
  width: 562px;
  height: 390px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 562/390;
}
.title4 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 531px;
  position: absolute;
  left: calc(50% - 280px);
  top: 34px;
}
.how-it-works {
  color: #ffffff;
  text-align: left;
  font-family: var(--sub-title-font-family, "DmSans-Medium", sans-serif);
  font-size: var(--sub-title-font-size, 17px);
  line-height: var(--sub-title-line-height, 120%);
  letter-spacing: var(--sub-title-letter-spacing, 0.15em);
  font-weight: var(--sub-title-font-weight, 500);
  text-transform: uppercase;
  position: relative;
}
.ai-powered-crm-for-faster-growth {
  color: #fefeff;
  text-align: left;
  font-family: var(--heading-2-font-family, "DmSans-Bold", sans-serif);
  font-size: var(--heading-2-font-size, 48px);
  line-height: var(--heading-2-line-height, 120%);
  font-weight: var(--heading-2-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.line-8 {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--border-2, #d0dbff);
  border-width: 1px 0 0 0;
  width: 290px;
  height: 0px;
  position: absolute;
  left: 150px;
  top: 135px;
}
.button {
  background: #0f0f0f;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 465px;
  top: 1462px;
}
.button2 {
  background: #a6a6b2;
  border-radius: 99px;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.get-a-quote {
  color: #ffffff;
  text-align: left;
  font-family: var(--button-font-family, "DmSans-Medium", sans-serif);
  font-size: var(--button-font-size, 17px);
  line-height: var(--button-line-height, 100%);
  letter-spacing: var(--button-letter-spacing, -0.03em);
  font-weight: var(--button-font-weight, 500);
  position: relative;
}
.group-240 {
  width: 537px;
  height: 212px;
  position: absolute;
  left: 720px;
  top: 312px;
  box-shadow: 0px 4px 4px 0px rgba(255, 251, 251, 0.25);
}
.rectangle-52 {
  background: #fffefe;
  width: 90.32%;
  height: 100%;
  position: absolute;
  right: 9.68%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 16px 4px 0px rgba(0, 0, 0, 0.25);
}
.title5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 93.11%;
  height: 13.68%;
  position: absolute;
  right: 0%;
  left: 6.89%;
  bottom: 77.36%;
  top: 8.96%;
}
.dealers-showrooms {
  color: #050509;
  text-align: left;
  font-family: var(--heading-5-font-family, "DmSans-Bold", sans-serif);
  font-size: var(--heading-5-font-size, 24px);
  line-height: var(--heading-5-line-height, 120%);
  font-weight: var(--heading-5-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.icon-box3 {
  padding: 0px 0px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 82.31%;
  height: 41.04%;
  position: absolute;
  right: 10.8%;
  left: 6.89%;
  bottom: 25%;
  top: 33.96%;
}
.corner-down-right3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.enter-your-email {
  color: #838282;
  text-align: left;
  font-family: "GothicA1-ExtraLight", sans-serif;
  font-size: 16px;
  line-height: 29.2px;
  font-weight: 200;
  position: absolute;
  left: 835px;
  top: 5840px;
  width: 114px;
  height: 27px;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 39px;
  row-gap: 80px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 1067.84px;
  position: absolute;
  left: 174px;
  top: 2423px;
}
.ai-powered-crm-for-faster-growth2 {
  color: #d4af37;
  text-align: center;
  font-family: var(--heading-2-font-family, "DmSans-Bold", sans-serif);
  font-size: var(--heading-2-font-size, 48px);
  line-height: var(--heading-2-line-height, 120%);
  font-weight: var(--heading-2-font-weight, 700);
  position: relative;
  width: 1048px;
}
.section-3 {
  flex-shrink: 0;
  width: 475.84px;
  height: 428.93px;
  position: relative;
  overflow: visible;
}
.from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions-discover-how-we-help-businesses-streamline-operations-enhance-customer-relationships-and-drive-growth-from-healthcare-and-real-estate-to-retail-and-finance-zea-crm-adapts-to-your-unique-challenges-with-automation-first-solutions-discover-how-we-help-businesses-streamline-operations-enhance-customer-relationships-and-drive-growth {
  color: #ffffff;
  text-align: left;
  font-family: "Lexend-Regular", sans-serif;
  font-size: 20px;
  line-height: 29.2px;
  font-weight: 400;
  position: relative;
  width: 506px;
}
.frame-52 {
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1071px;
  position: absolute;
  left: 207px;
  top: 3192px;
}
.heading {
  color: #fcfbff;
  text-align: center;
  font-family: "Lexend-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 140%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetti-industry-lorem-ipsum-has-been-the-industry-s-standard-dummy-text-ever-since-the-1500-s {
  color: #fffafa;
  text-align: left;
  font-family: "YoungSerif-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 75px;
}
.icon-box4 {
  display: flex;
  flex-direction: row;
  gap: 44px;
  row-gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 921px;
  position: relative;
}
.icon-box-12 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon2 {
  background: rgba(255, 182, 0, 0.7);
  border-radius: 12px;
  flex-shrink: 0;
  width: 92px;
  height: 92px;
  position: relative;
  overflow: hidden;
}
.users {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.text-box-1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.heading2 {
  color: #fbfaff;
  text-align: left;
  font-family: var(--heading-5-font-family, "Lexend-SemiBold", sans-serif);
  font-size: var(--heading-5-font-size, 24px);
  line-height: var(--heading-5-line-height, 140%);
  font-weight: var(--heading-5-font-weight, 600);
  position: relative;
  width: 300px;
}
.text3 {
  color: #f9f9ff;
  text-align: left;
  font-family: var(--body-2-font-family, "DmSans-Regular", sans-serif);
  font-size: var(--body-2-font-size, 16px);
  line-height: var(--body-2-line-height, 160%);
  font-weight: var(--body-2-font-weight, 400);
  position: relative;
  width: 300px;
}
.icon-box-2 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.clock {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.heading3 {
  color: #faf9ff;
  text-align: left;
  font-family: var(--heading-5-font-family, "Lexend-SemiBold", sans-serif);
  font-size: var(--heading-5-font-size, 24px);
  line-height: var(--heading-5-line-height, 140%);
  font-weight: var(--heading-5-font-weight, 600);
  position: relative;
  width: 300px;
}
.text4 {
  color: #f7f6fe;
  text-align: left;
  font-family: var(--body-2-font-family, "DmSans-Regular", sans-serif);
  font-size: var(--body-2-font-size, 16px);
  line-height: var(--body-2-line-height, 160%);
  font-weight: var(--body-2-font-weight, 400);
  position: relative;
  width: 300px;
}
.icon-box-3 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.package {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.heading4 {
  color: #faf9ff;
  text-align: left;
  font-family: var(--heading-5-font-family, "Lexend-SemiBold", sans-serif);
  font-size: var(--heading-5-font-size, 24px);
  line-height: var(--heading-5-line-height, 140%);
  font-weight: var(--heading-5-font-weight, 600);
  position: relative;
  width: 360px;
}
.text5 {
  color: #fdfdff;
  text-align: left;
  font-family: var(--body-2-font-family, "DmSans-Regular", sans-serif);
  font-size: var(--body-2-font-size, 16px);
  line-height: var(--body-2-line-height, 160%);
  font-weight: var(--body-2-font-weight, 400);
  position: relative;
  width: 300px;
}
.rectangle-1 {
  border-radius: 20px;
  width: 1455px;
  height: 584px;
  position: absolute;
  left: 5px;
  top: 67px;
  object-fit: cover;
}
.rectangle-7 {
  background: rgba(15, 15, 15, 0.5);
  width: 1472px;
  height: 631px;
  position: absolute;
  left: -30px;
  top: 20px;
}
.frame-238 {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  width: 716px;
  position: absolute;
  left: 415px;
  top: 246px;
}
.heading5 {
  color: #fdfdff;
  text-align: center;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 48px;
  line-height: 120%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 61px;
}
.heading6 {
  color: #fdfdff;
  text-align: center;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 66px;
}
.classic-button {
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.hover-false {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button3 {
  background: #d4af37;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 5px 15px 0px rgba(37, 44, 97, 0.15),
    0px 2px 4px 0px rgba(136, 144, 194, 0.2);
  overflow: hidden;
}
.get-started {
  color: #ffffff;
  text-align: left;
  font-family: "RobotoSlab-Bold", sans-serif;
  font-size: 21.030000686645508px;
  font-weight: 700;
  position: relative;
}
.hover-true {
  padding: 0px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button4 {
  background: #d4af37;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 7px 21px 0px rgba(37, 44, 97, 0.2),
    0px 3px 8px 0px rgba(136, 144, 194, 0.25);
  overflow: hidden;
}
.frame-232 {
  padding: 0px 150px 0px 156px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1484px;
  height: 167px;
  position: absolute;
  left: -15px;
  top: 3844px;
}
.frame-229 {
  flex-shrink: 0;
  width: 1484px;
  height: 167px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-231 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.our-platform-is-built-on-five-core-principles-to-guarantee-your-success {
  color: #ffffff;
  text-align: left;
  font-family: "Gorditas-Regular", sans-serif;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  position: relative;
  width: 523px;
  height: 68px;
}
.image-box {
  flex-shrink: 0;
  width: 236px;
  height: 167px;
  position: relative;
  object-fit: cover;
}
.group-229 {
  flex-shrink: 0;
  width: 343.49px;
  height: 34.07px;
  position: static;
}
.background {
  width: 31.16%;
  height: 20.4%;
  position: absolute;
  right: 0%;
  left: 68.84%;
  bottom: 39.8%;
  top: 39.8%;
  overflow: visible;
}
.frame-230 {
  background: #ffb600;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 81.09px;
  height: 34px;
  position: absolute;
  left: 1021px;
  top: 66.53px;
}
.sign-up {
  color: #fff6f6;
  text-align: center;
  font-family: "GothicA1-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 29.2px;
  font-weight: 600;
  position: relative;
}
.enter-your-email2 {
  color: #838282;
  text-align: center;
  font-family: "GothicA1-ExtraLight", sans-serif;
  font-size: 14px;
  line-height: 29.2px;
  font-weight: 200;
  position: absolute;
  left: 759px;
  top: 69.53px;
  width: 146px;
  height: 27px;
}
